<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="innerr_table_style">
                <div class="card-body">
                                <h6>Master Settings</h6>
                                <div class="row">
                                    <div class="col-md-3 mt-4" *ngIf="disableBox('Category')">
                                        <div class="card-body card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/category" >Category</a>

                                            </div>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data" *ngIf="disableBox('Brand')"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/brand" class=""  >Brand</a>
        
                                            </div>
                                        </div>
                                       
                                    </div> 
                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data" *ngIf="disableBox('UOM')"> 
                                            <div class="row" >
                                                <a for="validationCustom0"  routerLink="/master-settings/UOM"  >UOM</a>
        
                                            </div>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data" *ngIf="disableBox('UOM Value')"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/UOMValue" class=""  >UOM Value</a>
        
                                            </div>
                                        </div>
                                       
                                    </div> 
                                </div>


                                <div class="row mt-4">
                                    <div class="col-md-3 ">
                                        <div class="card-body card-data" *ngIf="disableBox('Tax')"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/tax" class=""  >Tax</a>

                                            </div>
                                        </div>
                                    </div> 

                                    <!-- <div class="col-md-3 ">
                                        <div class="card-body card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/delivery-area" class="">DeliveryArea</a>

                                            </div>
                                        </div>
                                    </div> -->


                                    <div class="col-md-3 ">
                                        <div class="card-body card-data" *ngIf="disableBox('Store Creation')"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/store-creation" class=""  >Store Creation</a>

                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="col-md-3 ">
                                        <div class="card-body card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/pincode" class="">Pincode</a>

                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="col-md-3 ">
                                        <div class="card-body card-data" *ngIf="disableBox('Delivery Charge & Time')"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/delivery-charge" class=""  >Delivery Charge & Time</a>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 ">
                                        <div class="card-body card-data"  *ngIf="disableBox('Policy')"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/policy" class="" >Policy</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                               <div class="mt-4 row">
                                    <div class="col-md-3 ">
                                        <div class="card-body card-data" *ngIf="disableBox('Preference')"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/preference" class=""  >Preference</a>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 ">
                                        <div class="card-body card-data"  *ngIf="disableBox('Pincode')"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/master-settings/pin" class="" >Pincode</a>

                                            </div>
                                        </div>
                                    </div>
                                </div> 

                            



                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



