<div class="ps-page">
    <header class="ps-header ps-header--11 ps-header--12">
 
       <div class="ps-header__middle">
 
          <div class="container">
 
             <div class="ps-logo"><a routerLink="/"> <img src="assets/img/png/blog/logo.png" alt><img class="sticky-logo" src="assets/img/png/blog/logo.png" alt></a></div>
 
             <div class="ps-header__right">
 
                <ul class="ps-header__icon">
 
                   <li><a class="blogy bg-yellowa ps-banner__shop" href="https://play.google.com/store/apps/details?id=com.medfolio.medimall" target="_blank">Download the App</a> </li>
 
                </ul>
 
                <div class="ps-header__menu" style="text-align: center;">
 
                   <ul class="menu">
 
                      <li class="has-mega-menu"><a routerLink="/category-list">Category</a></li>
 
                      <li class="has-mega-menu"><a routerLink="/blog">Blog</a></li>
 
                      <li class="has-mega-menu"><a href="https://medimall.co.in/foundation.html">Medimall Foundation</a> </li>
 
                      <li class="has-mega-menu"><a href="https://medimall.co.in/gym.html" >Fitness Arena</a> </li>
 
                      <li class="has-mega-menu"><a href="https://medimall.co.in/under.html">More  <i class="fa fa-angle-down" style="font-weight:200; opacity: 0.7;"></i></a> </li>
 
                   </ul>
 
                </div>
 
             </div>
 
          </div>
 
       </div>
 
    </header>
 
    <header class="ps-header ps-header--1 ps-header--mobile">
 
       <div class="ps-header__middle">
 
          <div class="container">
 
             <div class="ps-header__left">
 
                <div class="ps-navigation--footer">
 
                   <div class="ps-nav__item"><a href="https://medimall.co.in/under.html" id="open-menu"><i class="icon-menu" style="color:white;"></i></a>
 
                      <a href="https://medimall.co.in/under.html" id="close-menu"><i class="icon-cross"></i></a>
 
                   </div>
 
                </div>
 
                <div class="ps-logo">
 
                   <a href="https://medimall.co.in/index.html"> <img src="assets/img/png/blog.svg" alt=""></a>
 
                </div>
 
                <ul class="ps-header__icons">
 
                   <li class="wow fadeInRight" data-wow-delay="0.35s"><a class="ps-header__item" href="#"><i class="fa fa-tag"></i></a></li>
 
                   <li class="wow fadeInRight" data-wow-delay="0.55s">
 
                      <a class="ps-header__item" href="#" id="cart-mini"><i class="fa fa-shopping-cart"></i> </a>
 
                      <div class="ps-cart--mini">
 
                         <ul class="ps-cart__items">
 
                            <li class="ps-cart__item">
 
                               <div class="ps-product--mini-cart">
 
                                  <a class="ps-product__thumbnail" href="https://medimall.co.in/product-default.html"><img src="assets/img/products/055.jpg" alt="alt"></a>
 
                                  <div class="ps-product__content">
 
                                     <a class="ps-product__name" href="https://medimall.co.in/product-default.html">  tablet</a>
 
                                     <p class="ps-product__meta"> <span class="ps-product__price">399.99</span></p>
 
                                  </div>
 
                                  <a class="ps-product__remove" href="javascript: void(0)"><i class="icon-cross"></i></a> 
 
                               </div>
 
                            </li>
 
                         </ul>
 
                         <div class="ps-cart__total"><span>Subtotal </span><span>399</span></div>
 
                         <div class="ps-cart__footer"><a class="ps-btn ps-btn--outline" href="https://medimall.co.in/shopping-cart.html">View Cart</a><a class="ps-btn ps-btn--warning" href="https://medimall.co.in/checkout.html">Checkout</a></div>
 
                      </div>
 
                   </li>
 
                </ul>
 
             </div>
 
          </div>
 
       </div>
 
    </header>
 
    <style>
 
       video#vidb{ width: 100%;
 
       position: absolute;
 
       top: 0;}
 
       .ps-header {
 
       background-color: #ffffff00;
 
       position: absolute;
 
       width: 100%;
 
       z-index: 99;
 
       }
 
    </style>
 
    <section class="ps-blog">
 
       <video  autoplay loop muted playsinline id="vidb" class="" style="width:100%">
 
          <source type="video/mp4" src="assets/img/blog1.m4v">
 
       </video>
 
       <div class="container">
 
          <div class="ps-banner blog">
 
             <div class="container">
 
                <div class="row">
 
                   <div class="col-md-6  desktop-only">
 
                      <div class="ps-banner__content">
 
                         <h2 class="bread__title"><span style="color: #323232;">The </span> MediBlog</h2>
 
                         <div class="ps-banner__bread">
 
                            <p>Explore the Horizons of Healthcare With MediBlog</p>
 
                            <a class="join " href="#downn">Read More</a> 
 
                         </div>
 
                      </div>
 
                   </div>
 
                   <div class="col-md-6  mobile-only">
 
                      <div class="ps-banner__content">
 
                         <h2 class="bread__title"><span style="color: #323232;">The </span> MediBlog</h2>
 
                         <div class="ps-banner__bread">
 
                            <p>Explore the Horizons of HealthCare with MediBlog</p>
 
                            <a class="join" href="#downm">Read More</a>
 
                         </div>
 
                      </div>
 
                   </div>
 
                   <div class="col-md-6 ps-banner__img">
 
                      <!--<img src="assets/img/png/blog/banner.png">-->
 
                   </div>
 
                   <img src="assets/img/png/plus.png" class="plusb rotate"><img src="assets/img/png/plus.png" class="plusb1 rotate">
 
                   <img src="assets/img/circ.png" class="circ rotate">
 
                   <img src="assets/img/png/blog/d.png" class="d floatings">
 
                   <img src="assets/img/png/blog/d.png" class="d1 floatings">
 
                </div>
 
             </div>
 
          </div>
 
       </div>
 
    </section>
 
    <div class="ps-post ps-post--sidebar">
 
       <section class="ps-about__project lap"  id="downn">
 
          <div class="row">
 
             <div class="col-md-5">
 
                <video  autoplay loop muted playsinline id="vids" style="width:100%">
 
                   <source type="video/mp4" src="assets/img/blog2.m4v">
 
                </video>
 
             </div>
 
             <div class="col-md-7 blogfirst">
 
                <div class="blogpage__desc">Our blogs educate you about the latest health updates, preventative measures against different diseases, self-care methods, mental health awareness, and so on. Our blogs are intended to educate people about diseases and conditions so that they can prevent these diseases as much as possible.</div>
 
             </div>
 
          </div>
 
          <div class="container">
 
             <div class="col-md-4 offset-md-8 searchfor">
 
                <h6>Search for :</h6>
 
                <div class="search mb-5">
 
                   <input type="text" id="search_filed" class="searchTerm" placeholder="Enter Keyword">
 
                   <button type="submit" (click)="search_term()" class="searchButton">
 
                   search
 
                   </button>
 
                </div>
 
             </div>
 
          </div>
 
       </section>
 
       <section class="ps-about__project mobile" >
 
          <div class="container">
 
             <div class="row">
 
                <div class="col-md-5">
 
                   <video  autoplay loop muted playsinline id="vids" style="width:100%">
 
                      <source type="video/mp4" src="assets/img/blog2.m4v">
 
                   </video>
 
                </div>
 
                <div class="col-md-7 blogfirst">
 
                   <div class="blogpage__desc" >Our blogs educate you about the latest health updates, preventative measures against different diseases, self-care methods, mental health awareness, and so on. Our blogs are intended to educate people about diseases and conditions so that they can prevent these diseases as much as possible.</div>
 
                </div>
 
             </div>
 
             <div class="container">
 
                <div class="row">
 
                   <div class="col-2"></div>
 
                   <div class="col-md-4 col-12 searchfor">
 
                      <h6></h6>
 
                      <div class="search mb-5">
 
                         <input type="text" class="searchTerm" placeholder="Enter Keyword">
 
                         <button type="submit" class="searchButton">
 
                         search
 
                         </button>
 
                      </div>
 
                   </div>
 
                </div>
 
             </div>
 
          </div>
 
       </section>
 
       <div class="container" >
 
          <h2 class="text-center">Categories</h2>
 
          <div class="ps-product__content">
 
             <div class="tabscroll">
 
                <div class="tabscroll1">
 
                   <ul class="nav nav-tabs  ps-tab-list" id="productContent1Tabs" role="tablist">
                      <li class="nav-item active" role="presentation" style="background-color:white;">
 
                         <a class="nav-link tabh active"   id="description-tab-0" data-toggle="tab" href="#recent" (click)="view_article_list(0)" role="tab" aria-controls="description-content" 
 
                            aria-selected="true" style="background-color:white;">Recent Blogs</a>
 
                      </li>
                      <ng-container  *ngFor="let c of main_catgeories;let i=index"> 
                         <li class="nav-item"><a class="nav-link" style="opacity: 0.3;">|</a></li>
                      <li class="nav-item" role="presentation" style="background-color:white;">
 
                         <a class="nav-link tabh" [ngClass]="{'active': catid==c._id}" (click)="view_article_list(c._id)" id="description-tab-{{c._id}}" data-toggle="tab" href="#selfcare" role="tab" aria-controls="description-content" 
 
                            aria-selected="true" style="background-color:white;"> <span>{{c.name}}</span></a>
 
                      </li>
                      
                   </ng-container>
                      <!-- <li class="nav-item"><a class="nav-link" style="opacity: 0.3;">|</a></li>
 
                      <li class="nav-item " role="presentation" style="background-color:white;">
 
                         <a class="nav-link " id="description-tab" data-toggle="tab" href="#selfcare" role="tab" aria-controls="description-content"  aria-selected="true" style="background-color:white;">Covid - 19</a>
 
                      </li> -->
                   </ul>
 
                </div>
 
             </div>
 
             <div class="tab-content" id="productContent1">
 
                <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="description-tab">
 
                   <div class="ps-document selfback">
 
                      <div class="row"> 
                          <div class="col-md-12 text-center" *ngIf="newestArticles_length==0"> NO DATA FOUND</div>
                         <div class="col-md-4" *ngFor="let n of newestArticles">
 
                            <div class="ps-documents">
 
                               <div class="row ">
 
                                  <div class="col-md-12  recent-blog-i"> <img src="{{n.image}}">
 
                                      <div class="middle">
 
                                          <a class="text" routerLink="/blog-detail/{{n._id}}">Read more</a>
 
                                            </div>						
 
                              </div>
 
                                        <div class="col-md-12 recent-blog-c">
 
                                        <h3 class="ps-title">{{n.title}}</h3>
 
                                        <div class="ps-blog__meta"> <span class="ps-blog__date">{{n.createdAt}}</span> <span class="medimall">{{n.sub_category}}</span><a class="ps-blog__author" routerLink=""  style="cursor: auto;">{{n.authorName}}</a></div>
 
                                        <div class="sub-para">
                                        <div *ngIf="n.description.length>120" innerHTML="{{n.description | slice:0:120 }}..." ></div>
                                        <div *ngIf="n.description.length<=120" innerHTML="{{n.description }}" ></div>
                                     </div>
 
                                        <div class="bt">
 
                                        <a routerLink="/blog-detail/{{n._id}}" class="hvr-underline-from-left" >Read More</a>
 
                              <div class="share-time">
 
                                        <a href="#" style="cursor: auto;"><i class="material-icons access_time">&#xe192;</i> <span>{{n.readTime}}</span></a>
 
                                <a>|</a>  
 
                              <a href="#" class="" ><i class="icon-share2"></i></a>
 
                            </div>
 
                            </div>
 
 
 
                                  </div>
 
                               </div>
 
                            </div>
 
                         </div>
 
 
                      </div>
 
                   </div>
 
                </div>
 
                <div class="tab-pane fade" id="selfcare" role="tabpanel" aria-labelledby="description-tab">
 
                   <div class="ps-document selfback">
 
                      <div class="row">
                         <div class="col-md-12 text-center" *ngIf="article_list_length==0"> NO DATA FOUND</div>
                         <div class="col-md-3">
 
                            <ul class="nav nav-tabs self ps-tab-list" id="productContentTabs" role="tablist">
 
                               <li *ngFor="let s of article_list" class="nav-item nav-link sub_link " role="presentation">
 
                                  <a class="nav-link  some" (click)="subcateview(s.sub_cat_id)" id="description-tab1" data-toggle="tab" href="#{{s.sub_cat_id}}" role="tab" aria-controls="description-content" aria-selected="true"><img class="selfing" src="{{s.image}}"></a> <span>{{s.sub_cat_name}}</span>
 
                               </li>
 
                            </ul>
 
                         </div>
 
                         <div class="col-md-9">
 
                            <div class="tab-content inn_tab1" id="productContent">
 
                               <div *ngFor="let s of article_list;let i=index" class="tab-pane fade tab-subc show active"  id="{{s.sub_cat_id}}" role="tabpanel" aria-labelledby=" description-tab1">
 
                                  <div class="ps-document">
 
                                     <div class="row mb-5" *ngFor="let a of s.article_list">
 
                                        <div class="col-md-5 bloimg"> <img src="{{a.image}}"> 
 
                                        <div class="middle">
 
                                              <a routerLink="/blog-detail/{{a._id}}" class="text" >Read more</a>
 
                                          </div>
 
                                        </div>
 
                                        <div class="col-md-7 blogicon">
 
                                           <div class="blogiconm">
 
                                              <h3 class="ps-title text-limit">{{a.title}}</h3>
 
                                              <div class="ps-blog__meta"> <span class="ps-blog__date">{{a.createdAt}}</span> <span class="medimall">{{s.sub_cat_name}}</span><a class="ps-blog__author" href="#" style="cursor: auto;">{{a.authorName}} </a><a href="#" class="blog-share"><i class="icon-share2" ></i></a></div>
                                             <div class="para-self">
                                              <div *ngIf="a.description.length>120" innerHTML="{{a.description | slice:0:100}}..." ></div>
                                              <div *ngIf="a.description.length<=120" innerHTML="{{a.description }}" ></div>
 
                                           </div>
                                             <div class="bt">
 
                                        <a routerLink="/blog-detail/{{a._id}}" class="hvr-underline-from-left" >Read More</a>
 
                              <div class="share-time">
 
                                        <a href="#"  style="cursor: auto;"><i  class="material-icons access_time">&#xe192;</i> {{a.read_time}}</a>
 
                                <a>|</a>  
 
                              <a href="#" class="" ><i class="icon-share2" ></i></a>
 
                            </div>
 
                            </div>
 
                                 
 
                                           </div>
 
                                        </div>
 
                                     </div>
 
                                  </div>
 
                               </div>
 
                             
                            </div>
 
                         </div>
 
                      </div>
 
                   </div>
 
                </div>
                <div class="blogingline"></div>
 
             </div>
 
             <!--<div class="ps-post__content">
 
                <div class="row">
 
                   <div class="col-md-12 ps-widget__block">
 
                      <h4 class="ps-widget__titles">Recent Posts &nbsp; &nbsp;<span>8 +</span></h4>
 
                   </div>
 
                   <div class="col-12 col-md-8 recentblog">
 
                      <div class="bloging mb-5">
 
                         <div class="row">
 
                            <div class="col-md-5 bloimg"> <img src="assets/img/png/blog/selfcare.png"> </div>
 
                            <div class="col-md-7 blogicon">
 
                               <h3 class="ps-title">Buy Nutri foods for your health</h3>
 
                               <div class="ps-blog__meta"> <span class="ps-blog__date">23 Dec 2021</span> <span class="medimall">Medimall</span><a class="ps-blog__author" href="#">From the Doctors</a></div>
 
                               <p>Medimall was founded in 2020, by the expert team of Mr.Fahad KM, Mr.Fayis KM, and Dr.Sufeekath, with the goal of providing affordable, accessible, and authentic medicines to both rural and urban</p>
 
                               <div class="btn">
 
                                  <a href="#" class="hvr-underline-from-left" >Read More</a>
 
                               </div>
 
                            </div>
 
                         </div>
 
                         <div class="blogline"></div>
 
                      </div>
 
                      <div class="bloging mb-5">
 
                         <div class="row">
 
                            <div class="col-md-5 bloimg"> <img src="assets/img/png/blog/sub.png" style="border-radius:10px;"> </div>
 
                            <div class="col-md-7 blogicon">
 
                               <h3 class="ps-title">Buy Nutri foods for your health</h3>
 
                               <div class="ps-blog__meta"> <span class="ps-blog__date">23 Dec 2021</span> <span class="medimall">Medimall</span><a class="ps-blog__author" href="#">From the Doctors</a></div>
 
                               <p>Medimall was founded in 2020, by the expert team of Mr.Fahad KM, Mr.Fayis KM, and Dr.Sufeekath, with the goal of providing affordable, accessible, and authentic medicines to both rural and urban</p>
 
                               <div class="btn">
 
                                  <a href="#" class="hvr-underline-from-left" >Read More</a>
 
                               </div>
 
                            </div>
 
                         </div>
 
                         <div class="blogline"></div>
 
                      </div>
 
                      <div class="bloging mb-5 bloimg">
 
                         <div class="row">
 
                            <div class="col-md-5"> <img src="assets/img/png/blog/selfcare.png"> </div>
 
                            <div class="col-md-7 blogicon">
 
                               <h3 class="ps-title">Buy Nutri foods for your health</h3>
 
                               <div class="ps-blog__meta"> <span class="ps-blog__date">23 Dec 2021</span> <span class="medimall">Medimall</span><a class="ps-blog__author" href="#">From the Doctors</a></div>
 
                               <p>Medimall was founded in 2020, by the expert team of Mr.Fahad KM, Mr.Fayis KM, and Dr.Sufeekath, with the goal of providing affordable, accessible, and authentic medicines to both rural and urban</p>
 
                               <div class="btn">
 
                                  <a href="#" class="hvr-underline-from-left" >Read More</a>
 
                               </div>
 
                            </div>
 
                         </div>
 
                         <div class="blogline"></div>
 
                      </div>
 
                      <div class="bloging mb-5 bloimg">
 
                         <div class="row">
 
                            <div class="col-md-5"> <img src="assets/img/png/blog/selfcare.png"> </div>
 
                            <div class="col-md-7 blogicon">
 
                               <h3 class="ps-title">Buy Nutri foods for your health</h3>
 
                               <div class="ps-blog__meta"> <span class="ps-blog__date">23 Dec 2021</span> <span class="medimall">Medimall</span><a class="ps-blog__author" href="#">From the Doctors</a></div>
 
                               <p>Medimall was founded in 2020, by the expert team of Mr.Fahad KM, Mr.Fayis KM, and Dr.Sufeekath, with the goal of providing affordable, accessible, and authentic medicines to both rural and urban</p>
 
                               <div class="btn">
 
                                  <a href="#" class="hvr-underline-from-left" >Read More</a>
 
                               </div>
 
                            </div>
 
                         </div>
 
                         <div class="blogline"></div>
 
                      </div>
 
                      <div class="col-12 col-md-12 mobile">
 
                         <div class="ps-pagination ">
 
                            <ul class="pagination">
 
                              
 
                               <li class="active" style="
 
                                  color:#01AAFF"><a href="#">1</a></li>
 
                               <li><a href="#">2</a></li>
 
                               <li><a href="#">3</a></li>
 
                               <li><a href="#">4</a></li>
 
                               <li><a href="#">. . .</a></li>
 
                               <li><a href="#">12</a></li>
 
                               <li><a href="#"  style="color:#01AAFF">NEXT <i class="fa fa-angle-right"></i></a></li>
 
                            </ul>
 
                         </div>
 
                      </div>
 
                   </div>
 
                   <div class="col-12 col-md-4">
 
                      <div class="ps-widget ps-widget--blog" style="">
 
                         <div class="ps-about--video">
 
                            <div class="">
 
                               <div class="container">
 
                                  <div class="ps-banner__thumnail">
 
                                     <div style="display:none;" id="video1">
 
                                        <video class="lg-video-object lg-html5" controls="" preload="none">
 
                                           <source src="img\video.mp4" type="video/mp4">
 
                                        </video>
 
                                     </div>
 
                                     <img class="ps-banner__image" src="img\png\blog\sub.png" alt="">
 
                                     <div id="ps-video-gallery">
 
                                        <div class="video" data-html="#video1" data-poster="img\png\blog\sub.png">
 
                                           <a href="">
 
                                              <div class="ps-banner__video"><i class="fa fa-play"></i></div>
 
                                           </a>
 
                                        </div>
 
                                     </div>
 
                                  </div>
 
                                  <div class="video-blog">
 
                                     <h4>Buy Nutri foods for your health</h4>
 
                                     <p>Medimall was founded in 2020, by the expert team of Mr.Fahad KM, Mr.Fayis</p>
 
                                  </div>
 
                               </div>
 
                            </div>
 
                         </div>
 
                         <div class="ps-about--video">
 
                            <div class="">
 
                               <div class="container">
 
                                  <div class="ps-banner__thumnail">
 
                                     <div style="display:none;" id="video1">
 
                                        <video class="lg-video-object lg-html5" controls="" preload="none">
 
                                           <source src="img\video.mp4" type="video/mp4">
 
                                        </video>
 
                                     </div>
 
                                     <img class="ps-banner__image" src="img\png\blog\sub.png" alt="">
 
                                     <div id="ps-video-gallery">
 
                                        <div class="video" data-html="#video1" data-poster="img\png\blog\sub.png">
 
                                           <a href="">
 
                                              <div class="ps-banner__video"><i class="fa fa-play"></i></div>
 
                                           </a>
 
                                        </div>
 
                                     </div>
 
                                  </div>
 
                                  <div class="video-blog">
 
                                     <h4>Buy Nutri foods for your health</h4>
 
                                     <p>Medimall was founded in 2020, by the expert team of Mr.Fahad KM, Mr.Fayis</p>
 
                                  </div>
 
                               </div>
 
                            </div>
 
                         </div>
 
                      </div>
 
                   </div>
 
                </div>
 
             </div>
 
             <div class="ps-pagination lap">
 
                <ul class="pagination">
 
                   
 
                   <li class="active" style="
 
                      color:#01AAFF"><a href="#">1</a></li>
 
                   <li><a href="#">2</a></li>
 
                   <li><a href="#">3</a></li>
 
                   <li><a href="#">4</a></li>
 
                   <li><a href="#">. . .</a></li>
 
                   <li><a href="#">12</a></li>
 
                   <li><a href="#"  style="color:#01AAFF">NEXT <i class="fa fa-angle-right"></i></a></li>
 
                </ul>
 
             </div>-->
 
          </div>
 
       </div>
 
       <section class="lap mb" style="padding-bottom: 0px;padding-top: 0px;">
 
          <div class="lastb">
 
             <div class="container">
 
                <div class="row">
 
                   <div class="col-md-5 ll">
 
                      <img src="assets/img/png/blog/last.png">
 
                   </div>
 
                   <div class="col-md-7 ">
 
                      <div class="lastdown">
 
                         <h3 class="text-center">Download the App for Free</h3>
 
                         <div class="">
 
                            <a href=""><img src="assets/img/png/play1.png"></a>
 
                            <a href="https://play.google.com/store/apps/details?id=com.medfolio.medimall" target="_blank" class="ply"><img src="assets/img/png/play.png"></a>
 
                         </div>
 
                      </div>
 
                   </div>
 
                </div>
 
             </div>
 
          </div>
 
       </section>
 
       <section class="mobile mb" style="padding-bottom: 0px;padding-top: 0px;">
 
          <div class="lastb">
 
             <div class="container">
 
                <div class="row">
 
                   <div class="col-md-5 ll">
 
                      <img src="assets/img/png/blog/last.png">
 
                   </div>
 
                   <div class="col-md-7 ">
 
                      <div class="lastdown">
 
                         <h3 class="text-center">Download the App for Free</h3>
 
                         <div class="d-flex justify-content-between">
 
                            <a href=""><img src="assets/img/png/play1.png"></a>
 
                            <a href=""><img src="assets/img/png/play.png"></a>
 
                            <br>
 
                         </div>
 
                      </div>
 
                   </div>
 
                </div>
 
             </div>
 
          </div>
 
       </section>
 
    </div>
 
    <div class="ps-search">
 
       <div class="ps-search__content ps-search--mobile">
 
          <a class="ps-search__close" href="#" id="close-search"><i class="icon-cross"></i></a>
 
          <h3>Search</h3>
 
          <form action="do_action" method="post">
 
             <div class="ps-search-table">
 
                <div class="input-group">
 
                   <input class="form-control ps-input" type="text" placeholder="Search for products">
 
                   <div class="input-group-append"><a href="https://medimall.co.in/under.html"><i class="fa fa-search"></i></a></div>
 
                </div>
 
             </div>
 
          </form>
 
          <div class="ps-search__result">
 
             <div class="ps-search__item">
 
                <div class="ps-product ps-product--horizontal">
 
                   <div class="ps-product__thumbnail">
 
                      <a class="ps-product__image" href="#">
 
                         <figure><img src="img\png\smade.png" alt="alt"></figure>
 
                      </a>
 
                   </div>
 
                   <div class="ps-product__content">
 
                      <h5 class="ps-product__title"><a>3-layer <span class='hightlight'>mask</span> with an elastic band (1 piece)</a></h5>
 
                      <p class="ps-product__desc">Study history up to 30 days Up to 5 users simultaneously Has HEALTH certificate</p>
 
                      <div class="ps-product__meta"><span class="ps-product__price">$38.24</span> </div>
 
                   </div>
 
                </div>
 
             </div>
 
             <div class="ps-search__item">
 
                <div class="ps-product ps-product--horizontal">
 
                   <div class="ps-product__thumbnail">
 
                      <a class="ps-product__image" href="#">
 
                         <figure><img src="assets/img/products/033.jpg" alt="alt"></figure>
 
                      </a>
 
                   </div>
 
                   <div class="ps-product__content">
 
                      <h5 class="ps-product__title"><a>3 Layer Disposable Protective Face <span class='hightlight'>mask</span>s</a></h5>
 
                      <p class="ps-product__desc">Study history up to 30 days Up to 5 users simultaneously Has HEALTH certificate</p>
 
                      <div class="ps-product__meta"><span class="ps-product__price sale">$14.52</span><span class="ps-product__del">$17.24</span> </div>
 
                   </div>
 
                </div>
 
             </div>
 
             <div class="ps-search__item">
 
                <div class="ps-product ps-product--horizontal">
 
                   <div class="ps-product__thumbnail">
 
                      <a class="ps-product__image" href="#">
 
                         <figure><img src="img\png\smade.png" alt="alt"></figure>
 
                      </a>
 
                   </div>
 
                   <div class="ps-product__content">
 
                      <h5 class="ps-product__title"><a>3-Ply Ear-Loop Disposable Blue Face <span class='hightlight'>mask</span></a></h5>
 
                      <p class="ps-product__desc">Study history up to 30 days Up to 5 users simultaneously Has HEALTH certificate</p>
 
                      <div class="ps-product__meta"><span class="ps-product__price sale">$14.99</span><span class="ps-product__del">$38.24</span> </div>
 
                   </div>
 
                </div>
 
             </div>
 
             <div class="ps-search__item">
 
                <div class="ps-product ps-product--horizontal">
 
                   <div class="ps-product__thumbnail">
 
                      <a class="ps-product__image" href="#">
 
                         <figure><img src="assets/img/products/050.jpg" alt="alt"></figure>
 
                      </a>
 
                   </div>
 
                   <div class="ps-product__content">
 
                      <h5 class="ps-product__title"><a>Disposable Face <span class='hightlight'>mask</span> for Unisex</a></h5>
 
                      <p class="ps-product__desc">Study history up to 30 days Up to 5 users simultaneously Has HEALTH certificate</p>
 
                      <div class="ps-product__meta"><span class="ps-product__price sale">$8.15</span><span class="ps-product__del">$12.24</span> </div>
 
                   </div>
 
                </div>
 
             </div>
 
          </div>
 
       </div>
 
    </div>
 
    <div class="sticky-container">
 
       <ul class="sticky">
 
          <li class="down">
 
             <i class="fa fa-download "></i>
 
             <p>Download app</p>
 
          </li>
 
       </ul>
 
    </div>
 
    <div class="ps-menu--slidebar">
 
       <div class="ps-menu__content">
 
          <ul class="menu--mobile">
 
             <li class="menu-item-has-children"><a href="https://medimall.co.in/under.html">Category</a><span class="sub-toggle"><i class="fa fa-chevron-down"></i></span>
 
             </li>
 
             <li class="menu-item-has-children"><a href="https://medimall.co.in/blog.html">Blog</a></li>
 
             <li class="menu-item-has-children"><a href="https://medimall.co.in/foundation.html">Medimall Foundation</a></li>
 
             <li class="menu-item-has-children"><a href="https://medimall.co.in/gym.html">Fitness Arena</a><span class="sub-toggle"><i class="fa fa-chevron-down"></i></span>
 
             </li>
 
             <li class="menu-item-has-children"><a href="https://medimall.co.in/under.html">More</a></li>
 
          </ul>
 
       </div>
 
    </div>
 
    <button class="btn scroll-top"><i class="fa fa-angle-double-up"></i></button>
 
    <div class="ps-preloader" id="preloader">
 
       <div class="ps-preloader-section ps-preloader-left"></div>
 
       <div class="ps-preloader-section ps-preloader-right"></div>
 
    </div>
 
 
 
 
 
    
 <ng-template #healthcareContent let-modal>
   
 
    <div class="modal-header">
        <h5 style="color: white;opacity: 0.5;" class="modal-title f-w-200" id="healthCareExampleModalLabel">Hiii</h5>
        <button style="color: white;opacity: 0.5;font-size: 31px;" type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
 
       <h2>Haii</h2>
 
    </div>
    <div class="modal-footer">
        <button  type="button" class="btn btn-success">Copy</button>
        <button class="btn" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
 </ng-template>