<body class="driver-page" style="background-color: #2787FF;">  
    <!--====== APPIE PAGE TITLE PART START ======-->
    <div class="desktop" style="max-width: 400px;border: none;">
    <div class="appie-page-title-area-form1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-center">
                    <div class="appie-page-title-item1">
                      <h4 *ngIf="flag==true">Invalid orderId or Link expired</h4>
                        <h6 >Welcome!!!</h6>
                        <nav aria-label="breadcrumb">
                            <img src="assets/images/whitelogo.svg" class="logos">
                         </nav>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-white" style="background: none;">
          <div class=" form-drive">
                
            <div class="main">
                <form >
                        <div class="form_group first-div">
                          <div class=""></div>
        
                 <!--  <input id="phone" type="tel" name="phone" (change)="hope($event)"/>-->
                 <input type="text" id="tel" ng2TelInput (countryChange)="code($event)" >
                

                        </div>
                     
                       <div class="second-div">
                            <input type="tel" (keypress)="keyPress($event)" minlength=10 maxlength=10 class="full" placeholder="Mobile Number"
                              [(ngModel)]="mobileNumber" name="mobile" required [disabled]="flag" >
                        </div>
                       
                    
                   
                    <div class="text-center">
                        <a  class="white-button mt-40" (click)="order()">Continue</a>
                        
                    </div>
                </form>

            </div>


          </div>
        </div>
    </div>

    <!--====== APPIE PAGE TITLE PART ENDS ======-->

  

</body>
