<section class="mobile mm">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="assets/img/png/blog/last.png" class="mmimg" />
        </div>

        <div class="col-md-7">
          <img src="assets/img/png/press/give.png" class="givehope" />

          <div>
            <h3 class="text-center">Download the App for Free</h3>

            <div class="d-flex justify-content-between">
              <a href=""><img src="assets/img/png/play1.png" /></a>

              <a href=""><img src="assets/img/png/play.png" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
