<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body tab2-card">  

                         

                            <label>Select Payment Code</label>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                               <a> <img src="assets/images/pos/icon-lookup.svg" width="20%">  <label>Cust.Lookup</label></a>
                                            </div>
                                           
                                        </div>
                                        
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                                <a for="validationCustom0"><img src="assets/images/pos/icon-rupee.svg"  width="20%"> <label>Cash</label></a>
                                            </div>
                                           
                                        </div>
        
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                                <a for="validationCustom0" ><img src="assets/images/pos/icon-card.svg" width="20%"> <label>Card</label></a>
                                            </div>
                                           
                                        </div>
                                        
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                                <a for="validationCustom0"><img src="assets/images/pos/icon-UPI.svg" width="20%"> <label>UPI</label></a>
                                            </div>
                                           
                                        </div>
        
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                                <a for="validationCustom0"><img src="assets/images/pos/icon-discount.svg" width="20%"> <label>Discount</label></a>
                                            </div>
                                           
                                        </div>
                                        
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                                <a for="validationCustom0"><img src="assets/images/pos/icon-salesreturn.svg" width="20%"> <label>Sales Return</label></a>
                                            </div>
                                           
                                        </div>
        
                                    </div>
                                </div>

                                <div class="pl-0 col-md-6 calculator_border_div">
                                    <form class="form-inline">
                                        <table class="" style="padding: none !important;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="blue-text">Total</span>
                                                    </td>
                                                    <td colspan="5">
                                                        <input type="text" class="form-control blue-text" value="5.00">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <button  value="2000" id="2000">2000</button>
                                                    </td>
                                                    <td>
                                                        <button value="500" id="500">500</button>
                                                    </td>
                                                    <td>
                                                        <button value="100" id="100">100</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <button value="50" id="50">50</button>
                                                    </td>
                                                    <td>
                                                        <button value="20" id="20">20</button>
                                                    </td>
                                                    <td>
                                                        <button value="10" id="10">10</button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <button value="5" id="5">5</button>
                                                    </td>
                                                    <td>
                                                        <button value="2" id="2">2</button>
                                                    </td>
                                                    <td>
                                                        <button value="1" id="1">1</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="red-text">Prev.Balance</span>
                                                    </td>
                                                    <td >
                                                        <button value="5" id="5">*****</button>
                                                    </td>
                                                    <td colspan="5">
                                                        <button value="2" id="2" style="width: 165px;" class="form-control"></button>
                                                    </td>
                                                   
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="red-text">0.00</span>
                                                    </td>
                                                    <td>
                                                        <button value="5" id="5" style="font-size: 10px;">Adjust Bal.Amnt</button>
                                                    </td>
                                                    <td>
                                                        <button value="2" id="2">+</button>
                                                    </td>
                                                    <td>
                                                        <button value="1" id="1">0.000</button>
                                                    </td>
                                                    <td>
                                                        <button value="2" id="2">-</button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Balance</td>
                                                    <td colspan="5">
                                                        <input type="text" class="form-control red-text" value="5.00">
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </form>
                                  
                                </div>


                            </div>


                            

                           

                            <div class="row" >
                                <div class="col-md-8 mt-4 ">
                                </div>
                                <div class="col-md-4 ">
                                        <button type="button" class="btn btn-dark" style="width: 87%;">Apply</button>
                                   
                                    <table class="table-striped calculator_div" style="padding: none !important;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <button  value="7" id="7">7</button>
                                                </td>
                                                <td>
                                                    <button value="8" id="8">8</button>
                                                </td>
                                                <td>
                                                    <button value="9" id="9">9</button>
                                                </td>
                                                <td>
                                                    <button value="" id="clear"> 
                                                        <img src="assets/images/pos/calculator-back-button.svg" width="50%">
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button value="4" id="4">4</button>
                                                </td>
                                                <td>
                                                    <button value="5" id="5">5</button>
                                                </td>
                                                <td>
                                                    <button value="6" id="6">6</button>
                                                </td>
                                                <td>
                                                    <button value="-" id="subtract">CE</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button value="1" id="1">1</button>
                                                </td>
                                                <td>
                                                    <button value="2" id="2">2</button>
                                                </td>
                                                <td>
                                                    <button value="3" id="3">3</button>
                                                </td>
                                                <td rowspan="2">
                                                    <button style="height: 105px;" value="" id="">ENTER</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <button value="0" id="0">0</button> 
                                                </td>
                                                <td>
                                                    <button value="." id="dot">.</button>
                                                </td>
                                                <td>
                                                    <button value="" id="">.</button>
                                                </td>
                                                <td></td>
                                                
                                            </tr>

                                        </tbody>
                                    </table>
                                   
                                </div>
                            </div>


                            <div class="mt-4 row">
                                <div class="col-md-12 mt-4">
                                    <div class="card-body div-data"> 
                                        <div class="row" >
                                            <label style="color: white;font-size: 20px;">&lt;</label> &nbsp; <h6 for="validationCustom0" >  Amount Paid <i class="fa fa-inr">0.00</i>  
                                                <span>Amount Due <i class="fa fa-inr">0.00</i>   </span> <label style="color: white;font-size: 20px;">&gt;</label>
                                            </h6>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                  




                                    
                            


            </div>

        </div>
    </div>
</div>


