<div class="desktop" style="background: #f1f7ff;">
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 col-xs-6" style="width: 70%;float: left;overflow: hidden;">
                    <img src="assets/img/logo.png" class="img-responsive" />
                </div>
                <div class="col-md-3 col-xs-6" style="width: 30%;float: left;overflow: hidden;">
                    <div class="right" style="height: 100%;">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-whatsapp"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
      
    <div class="appie-page-title-area-thank" style="max-width: 500px;margin: auto;">
        <div class="thank-pic">
            <span class="thank-verify"><i class="fal fa-check"></i></span>
            <span class="thank-img"><img src="assets/images/logo-loc.svg"></span>
       
            <h5 >Success!</h5>
       
        </div>
        <p class="text-center">aiwa...It’s a nice order!<br> it will arrive soon.</p>
        <br>
        <p class="text-center" style="color: #000;">Expect your delivery by<br> <span style="font-size: 18px;">1th Oct by 5pm</span></p>
        <br>
     
            <button style="width:50%;
        margin-left:25%;
        margin-right:25%;
        background: #C9E0FF;color: #000;border-radius: 12px;padding: 10px 30px;border: none;font-size: 16px;">Order track ID: 009966</button><br>
            <a href=""  style="color: #2787FF;text-decoration: underline;font-size: 12px;margin-left: auto;
            margin-right: auto;
            display: block;
            text-align: center;
          "class="a-change">Change payment method</a>
    
        <br>
        <br>
    
    
        </div>
    
        <div class="form-down" style="max-width: 500px;margin: auto;position: inherit;">
          <div class="forms form-padding text-center pbd">
            <p style="color: #000;margin-top: 30px;padding-bottom: 10px;">Your Order is  safe with “addy.ae”</p>
                <p style="padding-bottom: 10px;">or Install Addy</p>
           <a class="blue-thank" href="https://play.google.com/store/apps/details?id=com.addyae" style="margin-bottom: 10px;">
               <img src="assets/images/play.svg" style="margin-right: 5px;">
               <img src="assets/images/apple.svg"  style="margin-right: 5px;"> Install APP now</a>
               <a href="index.html" style="color: #2787FF;text-decoration: underline;font-size: 12px;margin-bottom: 10px;"class="a-change">Continue Shopping with addy</a>
               
          </div>
        </div>
        <footer>
            <h4>Kidteracy Shop</h4>
            <div class="footer-contact">
                <p><a href="">+9711234567</a></p>
                <p><a href="">kidteracy@gmail.com</a></p>
            </div>
            <div class="footer-contact">
                <p>Tax No</p>
                <p><a href="">12345 12345 1234 </a></p>
            </div>
            <div class="footer-contact">
                <p>Com Reg No </p>
                <p><a href="">12345 12345 1234</a></p>
            </div>
            <div class="footer-bottom">
                <small>Powered by Addy<br>Copyright (c) 2021, Kidteracy. All rights reserved</small>
            </div>
        </footer>
        </div>