<div class="container">
  <div class="ps-footer__middle">
    <div class="row ps-footer__category m-0 justify-content-between">
      <div class="ft">
        <div class="ps-footer--block">
          <h5 class="ps-block__title">Company</h5>
          <ul class="ps-block__list shadows">
            <li><a href="who-we-are.html">Our Legacy </a></li>
            <li><a href="leadership.html">Health Saviours</a></li>
            <li><a href="credible-platform.html">Trustable platform</a></li>
            <li><a href="career.html">Career </a></li>
            <li><a href="foundation.html">Medimall Foundation </a></li>
            <li><a href="blog.html">MediBlog</a></li>
            <li><a href="refer.html">Refer & Earn</a></li>
            <li><a href="press-release.html">Press Release </a></li>
            <li><a href="reward.html">Glitch Reward Programme</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="ft">
        <div class="ps-footer--block">
          <h5 class="ps-block__title">Our Services</h5>
          <ul class="ps-block__list shadows">
            <li data-toggle="modal"
            data-target="#refund2" (click)="orderMedicine()"><a style="cursor: pointer;">Order Medicines</a></li>
            <li><a>Order Healthcare Products</a></li>
            <li><a>Virtual Consultation</a></li>
            <li><a>Offline Medical Store</a></li>
            <li><a href="gym.html">Gym</a></li>
            <li><a href="gym.html#yoga"> Yoga</a></li>
            <li><a href="gym.html#nutri">Nutri Chart </a></li>
            <li><a href="gym.html#diet"> Diet Regime</a></li>
            <li><a href="gym.html">Quiz</a></li>
            <li><a>MedPride Subscription </a></li>
            <li><a>MedFill Refill</a></li>
          </ul>
        </div>
      </div>
      <div class="ft">
        <div class="ps-footer--block">
          <h5 class="ps-block__title">Partner With Us</h5>
          <ul class="ps-block__list shadows">
            <li><a href="franchise.html">Own a Franchise </a></li>
            <li><a href="join.html" target="_blank"> Affiliate Centres </a></li>

            <li><a href="companion.html">Be a Health Companion</a></li>
          </ul>
        </div>
      </div>
      <div class="ft">
        <div class="ps-footer--block">
          <h5 class="ps-block__title">Quick Links</h5>
          <ul class="ps-block__list shadows">
            <li data-toggle="modal"
            data-target="#refund2" (click)="orderMedicine()"><a style="cursor: pointer;">Order Medicines</a></li>
            <li><a>Order Healthcare Products </a></li>
            <li><a>My Orders </a></li>
            <li><a>My Membership</a></li>
            <li><a>Ayure Care </a></li>
            <li><a>Expert Talk </a></li>
          </ul>
        </div>
      </div>
      <div class="ft">
        <div class="ps-footer--block">
          <h5 class="ps-block__title">Help</h5>
          <ul class="ps-block__list shadows">
            <li><a>FAQ</a></li>
            <li><a>Return Policy </a></li>
            <li>
              <a routerLink="/terms-and-conditons">Terms & Conditions </a>
            </li>
            <li><a routerLink="/privacy-policy">Privacy Policy </a></li>
            <li><a>Refund Policy </a></li>
            <li><a>Editorial Policy </a></li>
            <li><a>Referal Policy </a></li>
            <li><a>Site Map </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="lap">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="ps-footer--contact">
            <div class="text-white partner">Our Payment Partners</div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="ps-footer--contact"></div>
        </div>
        <div class="col-12 col-md-3">
          <div class="ps-footer--address" style="float: right">
            <div class="ps-logo">
              <!--<a ><img class="logo-black" src="img\Logo-black.png" ></a>-->
            </div>
            <div class="text-white">We Are Social</div>
            <ul class="ps-social">
              <li>
                <a class="ps-social__link facebook icon" href="https://www.facebook.com/medimall.co.in" target="_blank"
                  ><i class="fa fa-facebook"> </i
                  ><span class="ps-tooltip">Facebook</span></a
                >
              </li>
              <li>
                <a class="ps-social__link instagram icon" href="https://www.instagram.com/medimall.co.in/" target="_blank"
                  ><i class="fa fa-instagram"></i
                  ><span class="ps-tooltip">Instagram</span></a
                >
              </li>
              <li>
                <a class="ps-social__link youtube icon" href="https://www.youtube.com/channel/UC_2DeaIXYApcA-aBLxuFfNA" target="_blank"
                  ><i class="fa fa-youtube-play"></i
                  ><span class="ps-tooltip">Youtube</span></a
                >
              </li>
              <li  (click)="openWhatsApp()">
                <a class="ps-social__link pinterest icon"
                  ><i class="fa fa-whatsapp"></i
                  ><span class="ps-tooltip">Whatsapp</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="ps-footer--address">
            <div class="ps-logo">
              <!--<a ><img class="logo-black" src="img\Logo-black.png" ></a>-->
            </div>
            <div class="text-white">We are Social</div>
            <ul class="ps-social">
              <li>
                <a class="ps-social__link facebook" href="https://www.facebook.com/medimall.co.in" target="_blank"
                  ><i class="fa fa-facebook"> </i
                  ><span class="ps-tooltip">Facebook</span></a
                >
              </li>
              <li>
                <a class="ps-social__link instagram" href="https://www.instagram.com/medimall.co.in/" target="_blank"
                  ><i class="fa fa-instagram"></i
                  ><span class="ps-tooltip">Instagram</span></a
                >
              </li>
              <li>
                <a class="ps-social__link youtube" href="https://www.youtube.com/channel/UC_2DeaIXYApcA-aBLxuFfNA" target="_blank"
                  ><i class="fa fa-youtube-play"></i
                  ><span class="ps-tooltip">Youtube</span></a
                >
              </li>
              <li (click)="openWhatsApp()">
                <a class="ps-social__link pinterest"
                  ><i class="fa fa-whatsapp"></i><span class="ps-tooltip"></span
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="ps-footer--contact"></div>
        </div>
        <div class="col-12 col-md-4">
          <div class="ps-footer--contact">
            <div class="text-white partner">Our payment Partners</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ps-footer--bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <a
          ><img class="payment-light" src="../../../assets/img/png/f1.png"
        /></a>
        <a
          ><img class="payment-light" src="../../../assets/img\png\f2.png"
        /></a>
        <a
          ><img class="payment-light" src="../../../assets/img\png\f3.png"
        /></a>
        <a
          ><img class="payment-light" src="../../../assets/img\png\f4.png"
        /></a>
        <a
          ><img class="payment-light" src="../../../assets/img\png\f5.png"
        /></a>
        <a
          ><img class="payment-light" src="../../../assets/img\png\f6.png"
        /></a>
        <a
          ><img class="payment-light" src="../../../assets/img\png\f7.png"
        /></a>
        <a
          ><img class="payment-light" src="../../../assets/img\png\f8.png"
        /></a>
        <a
          ><img class="payment-light" src="../../../assets/img\png\f9.png"
        /></a>
      </div>
      <div class="col-12 col-md-6">
        <p style="color: #103178; padding-top: 5px" class="copy">
          Copyright © 2021 Medimall. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</div>

<!-- sidebar -->
<!------------order medicine pop up-------->
<section class="mode p-0">
  <div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="refund2" role="dialog">
      <div class="modal-dialog" id="mdwidth1" id="mdwidth">
        <!-- Modal content-->
        <div class="modal-content bclolor">
          <div class="row">
            <div class="col-md-12">
              <button
                type="button"
                class="closeselect"
                data-dismiss="modal"
                id="dismiss-refund2"
              >
                &times;
              </button>
            </div>
          </div>
          <!-- <div class="headerpopup">
            <div class="row p-3">
          
            </div>
          </div> -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div
                  class="col-md-6 col-6 text-center div-box" *ngFor="let m of medicineName">
                  <div class="box3" (click)="orderMedicineRoute()">
                    <img
                      src="{{m.image}}"
                      class="img-fluid"
                    />
                    <label class="medi">{{m.title}}</label>
                  </div>
                  
                </div>
            
              </div>



              
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>