<body class="customer-thankyou">  

    <!--====== PRELOADER PART START ======-->

    <!-- <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div> -->

    <!--====== PRELOADER PART ENDS ======-->

  
    
 <div class="desktop customer" style="background: #f1f7ff;">    
    <div class="appie-page-title-area-thank" style="max-width: 500px;margin: auto;">
        <div class="thank-pic">
            <span class="thank-verify"><i class="fa fa-check"></i></span>
            <span class="thank-img"><img src="assets/images/logo-loc.svg"></span>
            <h5>Thank you!</h5>
        </div>
        <p class="text-center">Your address has been securely<br>shared with sender</p>
    </div>

        <div class="form-down" style="max-width: 500px;margin: auto;position: inherit;">
          <div class="forms form-padding extra-padding text-center pdb">
                <p style="padding-bottom: 10px;">Install Addy to get full features</p>
           <a class="blue-thank" href="https://play.google.com/store/apps/details?id=com.addyae" style="margin-bottom: 10px;">
               <img src="assets/images/play.svg" style="margin-right: 5px;">
               <img src="assets/images/apple.svg"  style="margin-right: 5px;"> Install APP now</a>               
          </div>
        </div>
    </div>
    
    <!--====== APPIE PAGE TITLE PART ENDS ======-->

       

      

   


    
    

</body>