/* @import '../../../../assets/css/style.css'; */

.customer .packet-btn{
    background: #C9E0FF;
    padding: 5px 15px;
    color: #000;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
  }
  
  .customer .img-radio-div ul {
    list-style-type: none;
    width: 100%;
  }
  
  .customer .img-radio-div li {
    display: inline-block;
    width: 33.3%;
    /* float: left; */
    overflow: hidden;
  }
  
  .customer .img-radio-div input[type="radio"][id^="cb"] {
    display: none;
  }
  
  .customer .img-radio-div label {
    display: block;
    position: relative;
    margin: 7px;
    cursor: pointer;
  }
  .customer .img-radio-div label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  .customer .img-radio-div label img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  .customer .img-radio-div :checked + label {
    border-color: #ddd;
  }
  
  .customer .img-radio-div :checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }
  .customer .form-padding.text-center.pdb{
        padding: 60px 50px;
  }
  .customer .appie-page-title-area-thank{
    /* min-height: 80vh; */
    min-height: 68vh;
  }