<!doctype html>
<html lang="en">


<body class="customer">  

    <!--====== APPIE PAGE TITLE PART START ======-->
    <div class="desktop">
    <div class="appie-page-title-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-center">
                    <div class="appie-page-title-item">
                        <div class="mob-view">
                        <h6>Welcome to</h6>
                        <nav aria-label="breadcrumb">
                           <img src="assets/images/whitelogo.svg" class="logos">
                        </nav>
                        <div class="profile-pic">
                            <span class="pro-verify"><i class="fa fa-check"></i></span>
                            <img src="assets/images/pro.svg">
                            <h5>James Harper</h5>
                        </div>
                        <div class="profile-content">
                            <p>Requesting your full address for<br>sending consigment through addy</p>
                            <p style="margin-bottom: 10px;">Whats being send</p>
                            <button class="packet-btn">1 packet Apple</button>
                            <div class="img-radio-div" style="width: 100%;">
                                <ul>
                                  <li><input type="radio" name="test" id="cb1" />
                                    <label for="cb1"><img src="assets/images/pro1.png" /></label>
                                  </li>
                                  <li><input type="radio" name="test" id="cb2" />
                                    <label for="cb2"><img src="assets/images/pro2.png" /></label>
                                  </li>
                                  <li><input type="radio" name="test" id="cb3" />
                                    <label for="cb3"><img src="assets/images/pro3.png" /></label>
                                  </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        </div>
                        <div class="profile-content">
                            <!-- <a class="blue-button btn-border mt-20"  (click)="secondPage()" >No, I will decide it later.</a>
                            <a  class="white-button mb-20"  >Accept & countinue to Addy Mobile App</a>
                            <a  class="white-button mb-20"   (click)="nextPage()">Accept & countinue here(Web browser)</a> -->
                            
                            <button type="button" (click)="secondPage()"    class="btn  btn-lg blueButton btn-border mt-20">No, I will decide it later.</button>
                            <button type="button"    class="btn  btn-lg white-button mb-20">Accept & countinue to Addy Mobile App</button>

                            <button type="button" (click)="checkLink()" *ngIf="!filladdress"  class="btn  btn-lg white-button mb-20">Accept & countinue here(Web browser)</button>
                            <button type="button" (click)="gotoAddressForm()" *ngIf="filladdress"   class="btn  btn-lg white-button mb-20">Accept & fill the address</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--====== APPIE PAGE TITLE PART ENDS ======-->

       

      

</body>

