<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                
                <div class="card-body">
                                <br><br><br><br>
                                <h5>Welcome Back Admin User</h5>
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="card-header" style="background: #D9069A;">                                   
                                            <h6 class="pinkbox" style="opacity: 0.5;"> 10</h6>
                                            <a for="validationCustom0" routerLink="/pos/reports">Total Products</a>
                                            <br><span class="pl-0 pm-0" style="text-align: center;font-size: 10px;padding-bottom: 4%;">Total Customer</span> 
                                        </div>
                                        <hr class="hr_line" style="background: purple;">
                                    </div>


                                    <div class="col-md-3 mt-4">
                                        <div class="card-header" style="background-color: #4E8778;">                                   
                                            <h6 class="pinkbox" style="opacity: 0.5;"> 21</h6>
                                            <a for="validationCustom0" routerLink="/pos/consumer">Todays Counter Sales</a>
                                           
                                        </div>
                                        <hr class="hr_line">
                                    </div>

                                    <div class="col-md-3 mt-4">
                                        <div class="card-header" style="background-color: #B9AE41;">                                   
                                            <h6 class="pinkbox" style="opacity: 0.5;"> 7</h6>
                                            <a for="validationCustom0" routerLink="/pos/payment-code">Todays Online Sales</a>
                                            <small>Total Customer</small>    
                                                
                                        </div>
                                        <hr class="hr_line">
                                    </div>

                                    <div class="col-md-3 mt-4">
                                        <div class="card-header"  style="background-color: #15C017;">                                   
                                            <h6 class="pinkbox" style="opacity: 0.5;"> 19</h6>
                                            <a for="validationCustom0" routerLink="/pos/payment">Total Sales</a>
                                            <small>Total Customer</small>    
                                                
                                        </div>
                                        <hr class="hr_line">
                                    </div>

                                </div>



                                <div class="mt-4 row">
                                    
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <div class="card-icon" (click)="redirectTo('power')" > 
                                            <img src="assets/images/pos/power.svg" width="50%" height="80%" style="margin-left: 23%;">
                                        </div>
                                    </div> 

                                    <div class="col-md-2">
                                        <div class="card-icon" (click)="redirectTo('billing')"> 
                                            <img src="assets/images/pos/billing.svg" width="100%" height="100%">
                                        </div>
                                    </div> 

                                <div class="col-md-2">
                                        <div class="card-icon" (click)="redirectTo('salesreturn')"> 
                                            <img src="assets/images/pos/sales-return.svg" width="90%" height="90%">
                                        </div>
                                    </div> 

                                    <div class="col-md-2">
                                        <div class="card-icon" (click)="redirectTo('pos')"> 
                                            <img src="assets/images/pos/pos.svg" width="60%" height="60%">
                                        </div>
                                    </div> 

                                </div>
                                  

                                    <!-- <div class="col-md-3 mt-4">
                                        <div class="card-data" style="background: purple;"> 
                                            <a for="validationCustom0" routerLink="#">Total Products</a>
                                        </div>
                                        <hr class="hr_line" style="background: purple;">
                                        <br><br><br>
                                    </div>  -->
                                    

                                       
                                    <!-- <div class="col-md-3 mt-4">
                                        <div class="card-data" style="background-color: #69a78c;"> 
                                            <a for="validationCustom0" routerLink="#" class="">Todays Counter Sales</a>
                                        </div>
                                        <hr class="hr_line">
                                       
                                    </div> 
                                    <div class="col-md-3 mt-4" >
                                        <div class="card-data" style="background-color: #d9c542;"> 
                                            <a for="validationCustom0"  class="">Todays Online Sales</a>
                                        </div>
                                        <hr class="hr_line">
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-data" style="background-color: #18d513;"> 
                                            <a for="validationCustom0" routerLink="#" class="">Total Sales</a>
                                        </div>
                                        <hr class="hr_line">
                                       
                                    </div>  -->



            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



