<!-- <link rel="stylesheet" href="assets/css/slick.css" /> -->

<body class="address-page">
  <div class="desktop">
    <app-navbar></app-navbar>
    <div
      class="appie-page-title-area-form1"
      style="background: #f1f7ff; display: block"
    >
      <div class="search pt-4">
        <span
          ><a href="map.html" class="ad"
            ><i class="fal fa-chevron-left"></i>&nbsp;&nbsp;&nbsp; Shopping
            cart</a
          ></span
        >
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div
              class="appie-page-title-address"
              style="max-width: 500px; margin-left: auto; margin-right: auto"
            >
              <h6>Map location</h6>
              <div class="d-flex">
                <img src="assets/images/logo-loc.svg" />
                <p>
                  1st main 4th cross,Alkoos 1 Dubai street address or map
                  details shown here
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-down mt-50">
        <div class="forms form-padding">
          <div style="max-width: 500px; margin: auto">
            <h5>Type your current address</h5>
            <h5 class="secd pb-2">Address label</h5>
            <div class="what">
              <form action="#" method="post" class="row">
                <div class="col-md-12 py-0 form-1">
                  <input type="text" name="email" placeholder="Address label" />
                </div>
                <div class="col-md-12 form-1">
                  <input
                    type="text"
                    name="phone"
                    placeholder="House no, villa no, apartment no."
                  />
                </div>
                <div class="col-md-12 form-1">
                  <input
                    type="text"
                    name="suject"
                    placeholder="Building name"
                  />
                </div>
                <div class="col-md-12 form-1">
                  <textarea
                    placeholder="Delivery instruction"
                    rows="1"
                  ></textarea>
                  <!-- <input type="text" name="suject" placeholder="Delivery instruction"> -->
                </div>

                <div class="col-md-12 text-center button-div">
                  <a class="blue-button-cust2" href="conveniance.html"
                    >Continue</a
                  >
                </div>
              </form>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</body>
