<body class="shopping-page">

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 col-xs-6">
                    <img src="assets/img/logo.png" class="img-responsive" />
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="right" style="height: 100%;">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-whatsapp"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
  
<section class="sec-padding">
    <div class="container-fluid">
        <div class="product-header" style="top: -50px;position: relative;">
            <div class="first-div">
                <a href="product.html"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                <h5>Review order</h5>
                <!-- <a style="width: 10%;
                float: right;"
                > <img src="assets/img/boxes.png"
              /></a> -->
            </div>
            <!-- <div class="box">
                <img src="assets/images/boxes.png">
             </div> -->
            <div class="second-div">
                <a href=""><img src="assets/img/boxes.png" /></a>
            </div>
            <!-- <div class="second-div">
                <a data-bs-toggle="modal" data-bs-target="#exampleModal1"
                  ><span></span> <img src="assets/img/filterbox.png"
                /></a>
                </div> -->
             
        </div>
    </div>
    <div class="product-section">
        <div class="container-fluid" style="max-width: 600px;">
            <div class="product-list shopping-page">
                <h4 style="font-size: 19px;">#items</h4>
                <div class="single-item">
                    <div class="first-div"><img src="assets/img/p3.png" class="img-responsive imgwidth" /></div>
                    <div class="second-div">
                        <h5>Product Name</h5>
                        <p><span>Size: Medium | Color : Red</span></p>
                        <a href="">Delete</a>
                    </div>
                    <div class="third-div">
                        <a href="" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-file-text-o"></i></a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="fourth-div"><h5>Quantity</h5></div>
                    <div class="fifth-div">
                        <h5>12</h5>
                    </div>
                    <div class="sixth-div">
                        <h5>AED <span>250.00</span></h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="single-item">
                    <div class="first-div"><img src="assets/img/p3.png" class="img-responsive imgwidth" /></div>
                    <div class="second-div">
                        <h5>Product Name</h5>
                        <p><span>Size: Medium | Color : Red</span></p>
                        <a href="">Delete</a>
                    </div>
                    <div class="third-div">
                        <a href="" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-file-text-o"></i></a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="fourth-div"><h5>Quantity</h5></div>
                    <div class="fifth-div">
                        <h5>1</h5>
                    </div>
                    <div class="sixth-div">
                        <h5>AED <span>250.00</span></h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div class="row amount-list">
                    <div class="col-md-6 col-xs-6">
                        <h5>Item total</h5>
                    </div>
                    <div class="col-md-6 col-xs-6  leftpd text-right">
                        <h5>AED 500.00</h5>
                    </div>
                </div>
                <div class="row amount-list">
                    <div class="col-md-6 col-xs-6">
                        <h5>Delivery fee</h5>
                    </div>
                    <div class="col-md-6 col-xs-6 leftpd text-right">
                        <h5>AED 50.00</h5>
                    </div>
                </div>
                <br />
                <div class="row amount-list">
                    <div class="col-md-6 col-xs-6">
                        <h5 class="blk">Grand total</h5>
                    </div>
                    <div class="col-md-6 col-xs-6 leftpd text-right">
                        <h5>AED <span>550.00</span></h5>
                    </div>
                </div>
                <div class="row payment-mode">
                    <div class="col-md-12">
                        <h5>Payment mode</h5>
                        <div class="payment-block">
                            <input type="radio"class="radio-custom" id="cash" name="payment" checked />
                            <label for="cash" class="radio-custom-label"><h5>Cash on Delivery</h5></label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="payment-block">
                            <input type="radio"class="radio-custom" id="online" name="payment" />
                            <label for="online" class="radio-custom-label"><h5>Online Payment</h5></label>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row payment-mode">
                    <div class="col-md-12">
                        <h5>Instruction to the seller</h5>
                        <div class="payment-block">
                            <input type="radio"class="radio-custom" id="photo" name="instruction"/>
                            <label for="photo" class="radio-custom-label"><h5>Ask for photo</h5></label>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row delivery-conv">
                    <div class="col-md-12">
                        <div class="first-div">
                            <h5>Delivery Conveniance</h5>
                        </div>
                        <div class="second-div">
                            <a href="">. . .</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="conv-block">
                            <p><span>11 Jan 2021</span><span>10.30am - 2.30pm</span></p>
                        </div>
                    </div>
                </div>
                <div class="address-sec">
                    <div class="">
                        <div class="first-div">
                            <img src="assets/img/address-pin.png" style="width: 100%">
                        </div>
                        <div class="second-div">
                            <p>Home</p>
                            <h4>Floor 121 Building 212 street city,Dubai</h4>
                            <a href="">change</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row contact-sec mt-50">
                    <div class="col-md-12">
                        <button class="btn-2"  [routerLink]="['/success']">Confirm Order</button>
                        <!-- <button class="btn-2 mt-10" onclick="window.location.href='login.html'">Login to Continue</button> -->
                    </div>
                </div>
            </div>
        </div><br><br>
    </div>
</section>

<footer>
    <h4>Kidteracy Shop</h4>
    <div class="footer-contact">
        <p><a href="">+9711234567</a></p>
        <p><a href="">kidteracy@gmail.com</a></p>
    </div>
    <div class="footer-contact">
        <p>Tax No</p>
        <p><a href="">12345 12345 1234 </a></p>
    </div>
    <div class="footer-contact">
        <p>Com Reg No </p>
        <p><a href="">12345 12345 1234</a></p>
    </div>
    <div class="footer-bottom">
        <small>Powered by Addy<br>Copyright (c) 2021, Kidteracy. All rights reserved</small>
    </div>
</footer>
</body>
<script type="text/javascript" src="assets/js/js2.js"></script>
<script type="text/javascript">
// quantity
jQuery(document).ready(($) => {
    $(".quantity").on("click", ".plus", function (e) {
        let $input = $(this).prev("input.qty");
        let val = parseInt($input.val());
        $input.val(val + 1).change();
    });

    $(".quantity").on("click", ".minus", function (e) {
        let $input = $(this).next("input.qty");
        var val = parseInt($input.val());
        if (val > 0) {
            $input.val(val - 1).change();
        }
    });
});


function testInput(event) {
var value = String.fromCharCode(event.which);
var pattern = new RegExp(/[a-zåäö ]/i);
return pattern.test(value);
}

$('#my-field').bind('keypress', testInput);
</script>