<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                <div class="card-body">
                    <br><br><br><br><br>
                                <h6 style="color: white;opacity: 0.5;line-height: 10px;">Medfeed</h6>
                                <div class="row">

                                    <div class="col-md-3 mt-4" *ngIf="disableBox('Master')">
                                        <div class="card-body card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/explore/master" class="">Master</a>

                                            </div>
                                        </div>
                                       
                                    </div> 


                                    <div class="col-md-3 mt-4" *ngIf="disableBox('Med Article')">
                                        <div class="card-body card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/explore/article">Med Article</a>

                                            </div>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4" *ngIf="disableBox('Med Quiz')">
                                        <div class="card-body card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/explore/quiz" class="">Med Quiz</a>
        
                                            </div>
                                        </div>
                                       
                                    </div> 
                                    <div class="col-md-3 mt-4" *ngIf="disableBox('HealthCare Videos')">
                                        <div class="card-body card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0"  routerLink="/explore/health-videos">HealthCare Videos</a>
        
                                            </div>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4" *ngIf="disableBox('Expert Advice')">
                                        <div class="card-body card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/explore/health-expert" class="">Expert Advice</a>

                                            </div>
                                        </div>
                                       
                                    </div>

                                    <div class="col-md-3 mt-4" *ngIf="disableBox('Health Tips')">
                                        <div class="card-body card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/explore/health-tips" class="">Health Tips</a>

                                            </div>
                                        </div>
                                       
                                    </div>


                                </div>


                                <div class="row mt-4">
                                  
                                    
                                </div>




                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



