.card{
    border-radius: 25px;
  }
  .span-data{
    //justify-content: left;
    background-color: #042B3F;
    color:white;
    border-radius: 20px;
    //margin-left: 40px;
    padding: 4px;
    text-align: center;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:  url('../../../../assets/images/talk.png') !important;
   
      background-repeat: no-repeat !important;
      background-position-x: 91% !important;
      background-position-y: 11px !important;
      padding-right: 2rem;
      background-size: 15px !important;
  }
  .span-data a{
    font-weight: lighter;
    font-size: 12px;
    color:white;
    //opacity: 0.7;
  }
  .nav-link > span {
      background-color: #042b3f !important;
      color: white !important;
      padding: 5px 10px !important;
      margin-left: 10px !important;
      font-weight: normal !important;
  }
  
  .span-data span{
    background-color: white;
    color: #1c1f53;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
    position: absolute;
    top: -10px;
    right: 25px;
  }
  .tab_inneritmmm p{
  color:#fff;
  text-align:justify;
  margin-top: 10px;
  }
  .tab_inneritmmm h4{color:#fff}
  .tab_inneritmmm .like_share{
  float: right;
    color: #fff;
    margin-top: -20px;
    font-size: 15px;
  }
  .modal-content{
    background: transparent !important;
    border: unset;
    
  }
  .card-header{
  background-color: #023a57;
  border-radius: 33px;
  padding: 15px 0px;
  margin: 10px;
  overflow: hidden;
  }
  .article_main .tab-content{
  background: #014466 !important; 
  padding: 25px !important; 
  border-radius: 0px 15px 15px 15px;}
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
  }
  
  h6.background {
    position: relative;
    z-index: 1;
    
    &:before {
      border-top: 1px solid #042B3F;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      box-shadow: 4px 4px 10px #0000001f;
      border-radius: 44px;
       opacity: 0.5;
    }
  
    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #023a57;
        padding: 0 22px;
        color: #fff;
    }
  }
  
  i{
    
    color: white;
    opacity: 0.7;
  }
  
  .form-control{
    background: #014466;
    border: none;
    box-shadow: none;
    color: white;
    opacity: 0.7;
  }
    .form-group {
      margin-bottom: 1.5rem;
    }
  
    .modal-body, .modal-header, .modal-footer{
      background-color: #00496E !important;
      border: unset;
      width: 110%;
  }
  
  .modal-body{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .modal-header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 0;
  }
  .modal-footer{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  
  /*Button CSS*/
  
  .btn{
    
    font-weight: 400;
  }
  
  .btn-dark-rounded{
    margin-left: 12px;
    background-color: #014466;
    border-radius: 10.25em;
  }
  
  .btn-inverse-dark {
      background-color: rgba(79, 74, 96, 0.2);
      background-image: none;
      border-color: rgba(79, 74, 96, 0);
    }
    
    .btn-inverse-dark:not(.btn-inverse-light) {
      color: #4f4a60;
    }
    
    .btn-inverse-dark:hover {
      color: #ffffff;
      background-color: #4f4a60;
      border-color: #4f4a60;
    }
    
    .btn-inverse-dark.focus, .btn-inverse-dark:focus {
      box-shadow: 0 0 0 3px rgba(79, 74, 96, 0.5);
    }
    
    .btn-inverse-dark.disabled, .btn-inverse-dark:disabled {
      color: #4f4a60;
      background-color: transparent;
    }
    
    .btn-inverse-dark.active, .btn-inverse-dark:active,
    .show > .btn-inverse-dark.dropdown-toggle {
      color: #ffffff;
      background-color: #4f4a60;
      border-color: #4f4a60;
    }
    
    .btn-dark, .btn-dark:hover {
      box-shadow: 0 2px 2px 0 rgba(79, 74, 96, 0.14), 0 3px 1px -2px rgba(79, 74, 96, 0.2), 0 1px 5px 0 rgba(79, 74, 96, 0.12);
        justify-content: right;
    }

    
/*Slider CSS*/



.scroll_one{
  overflow: hidden;
    cursor: pointer;
     width: 100%;
    overflow-x: scroll;
}


.scroll_two{
  width: 1380px;
}




.header.header-2, header.header-2 {
  background-color: #002538;
}

hr {
  margin-top: 1rem;
}

.scroll-container {
 // border: 2px solid silver;
  display: flex;
  align-items: center;
  overflow: hidden;

  &.hide-scrollbar {
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.show-scroll {
    overflow: auto;
  }

  div {
    white-space: nowrap;
    //background: #efefef;
    //border: 1px solid #efefef;
    margin: .1rem;
    padding: .2rem .7rem;
    &:hover {
      cursor: pointer;
      //border-color: #ccc;
    }
  }
}