<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body tab2-card">  

                         

                            <label>Select Payment Code</label>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                               <a> <img src="assets/images/pos/icon-lookup.svg" width="20%">  <label>Cust.Lookup</label></a>
                                            </div>
                                           
                                        </div>
                                        
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                                <a for="validationCustom0"><img src="assets/images/pos/icon-rupee.svg"  width="20%"> <label>Cash</label></a>
                                            </div>
                                           
                                        </div>
        
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                                <a for="validationCustom0" ><img src="assets/images/pos/icon-card.svg" width="20%"> <label>Card</label></a>
                                            </div>
                                           
                                        </div>
                                        
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                                <a for="validationCustom0"><img src="assets/images/pos/icon-UPI.svg" width="20%"> <label>UPI</label></a>
                                            </div>
                                           
                                        </div>
        
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                                <a for="validationCustom0"><img src="assets/images/pos/icon-discount.svg" width="20%"> <label>Discount</label></a>
                                            </div>
                                           
                                        </div>
                                        
                                        <div class="col-md-3 mt-4">
                                            <div class="card-body card-data"> 
                                                <a for="validationCustom0"><img src="assets/images/pos/icon-salesreturn.svg" width="20%"> <label>Sales Return</label></a>
                                            </div>
                                           
                                        </div>
        
                                    </div>
                                </div>

                                <div class="pl-0 col-md-6 form_control_div">
                                    <label>Customer Lookup</label>
                                    <div class="container">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label" for="email">Customer</label>
                                                <div class="col-md-4">
                                                  <input type="text" class="form-control" id="email">
                                                </div>
                                            </div>
    
                                            <label>Name</label>
                                            <input type="text" class="form-control">
    
                                            <label>Address</label>
                                            <input type="text" class="form-control">
    
                                            <label>Mobile No</label>
                                            <input type="text" class="form-control">
    
                                            <label>GSTIN</label>
                                            <input type="text" class="form-control">
                                            
                                        </form>
                                    </div>
                                    
                                  
                                </div>


                            </div>


                            

                           

                            <div class="row" >
                                <div class="col-md-8 mt-4 ">
                                </div>
                                <div class="col-md-4 ">
                                        <button type="button" class="btn btn-dark" style="width: 87%;">Apply</button>
                                   
                                    <table class="table-striped calculator_div" style="padding: none !important;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <button  value="7" id="7">7</button>
                                                </td>
                                                <td>
                                                    <button value="8" id="8">8</button>
                                                </td>
                                                <td>
                                                    <button value="9" id="9">9</button>
                                                </td>
                                                <td>
                                                    <button value="" id="clear"> 
                                                        <img src="assets/images/pos/calculator-back-button.svg" width="50%">
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button value="4" id="4">4</button>
                                                </td>
                                                <td>
                                                    <button value="5" id="5">5</button>
                                                </td>
                                                <td>
                                                    <button value="6" id="6">6</button>
                                                </td>
                                                <td>
                                                    <button value="-" id="subtract">CE</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button value="1" id="1">1</button>
                                                </td>
                                                <td>
                                                    <button value="2" id="2">2</button>
                                                </td>
                                                <td>
                                                    <button value="3" id="3">3</button>
                                                </td>
                                                <td rowspan="2">
                                                    <button style="height: 105px;" value="" id="">ENTER</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <button value="0" id="0">0</button> 
                                                </td>
                                                <td>
                                                    <button value="." id="dot">.</button>
                                                </td>
                                                <td>
                                                    <button value="" id="">.</button>
                                                </td>
                                                <td></td>
                                                
                                            </tr>

                                        </tbody>
                                    </table>
                                   
                                </div>
                            </div>


                            <div class="mt-4 row">
                                <div class="col-md-12 mt-4">
                                    <div class="card-body div-data"> 
                                        <div class="row" >
                                            <label style="color: white;font-size: 20px;">&lt;</label> &nbsp; <h6 for="validationCustom0" >  Amount Paid <i class="fa fa-inr">0.00</i>  
                                                <span>Amount Due <i class="fa fa-inr">0.00</i>   </span> <label style="color: white;font-size: 20px;">&gt;</label>
                                            </h6>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                  




                                    
                            


            </div>

        </div>
    </div>
</div>


