<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="kendo_table">
                <div class="card-body explore_mastertab tab2-card" *ngIf="disableTab('Category')">
                    <h6>{{categoryName | titlecase}}</h6>
                   

                                            <div class="btn-popup ">
                                                <button type="button" class="btn btn-dark btn-inverse-dark" (click)="BackRedirectTo()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>



                                                <button type="button" class="btn btn-dark btn-inverse-dark pull-right" data-toggle="modal" data-original-title="test"
                                                    data-target="#exampleModal" (click)="open(exampleModalcontent,'add','')" *ngIf="editFlag"><img src="assets/images/file-icons/icon-add-circle.svg" width="15%" height="15%" style="margin-right:10px;"> Add New</button>
                                             
                                            </div>
        
                                                    <div class="table-responsive ">
                                                        <kendo-grid [kendoGridBinding]="submedicineCategoryList" 
                                                        [filterable]="true"  
                                                        [sortable]="true"
                                                        [pageSize]="10"
                                                        [skip]="skip"
                                                        (pageChange)="pageChange($event)"
                                                        [pageable]="true">

                                                            <kendo-grid-column field="title" title="Sub Category" width="30">
                                                                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                                                                    <kendo-grid-string-filter-cell placeholder="search"
                                                                        [showOperators]="false" [column]="column" title="Sl. No"
                                                                        [filter]="filter">
                                                                    </kendo-grid-string-filter-cell>
                                                                </ng-template>
                                                                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                                                                    <a style="text-decoration: none;cursor: pointer;" routerLink="#">{{dataItem.title}}</a>
                                                            </ng-template>
                                                                
                                                            </kendo-grid-column>
    
                                                        
                                                                <kendo-grid-command-column title="Action" width="40"  class="text-center">
                                                                    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                                                                        <button type="button" class="btn btn-dark btn-dark-rounded" data-toggle="modal" data-original-title="test"
                                                                        data-target="#exampleModal" (click)="open(exampleModalcontent,'edit',dataItem._id)" *ngIf="editFlag">Edit</button>
                                                                        
                                                                        &nbsp;&nbsp;<button type="button" class="btn btn-dark btn-dark-rounded" *ngIf="deleteFlag" (click)="delete(dataItem._id)">Delete</button>
    
                                                                        &nbsp;&nbsp;<input type="checkbox" class="toggle-switch oversize" id="toggle3" [checked]="!dataItem.isDisabled" *ngIf="editFlag" (change)="statusChange($event,dataItem._id)">
                                                                    </ng-template>
                                                                </kendo-grid-command-column>
    
                                                          </kendo-grid>
                                                    </div>
        
                                  

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

<ng-template #exampleModalcontent let-modal>
<form [formGroup]="subCatgeoryForm">
    <div class="modal-header">
        <h5 style="color: white;opacity: 0.5;" class="modal-title f-w-200" id="exampleModal">{{add_Modal_Flag ? 'Add' : 'Update'}}</h5>
        <button style="color: white;opacity: 0.5;font-size: 31px;" type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

            <div class="form row">
                <div class="form-group mb-0 col-md-12">
                    <label for="validationCustom02" class="mb-1">Category Name</label>
                    <input class="form-control" id="validationCustom02" type="text" formControlName="categoryname">
                    <small for="categoryname" class="form-text text-danger" 
                        *ngIf="subCatgeoryForm.controls['categoryname'].errors?.required && 
                        (subCatgeoryForm.controls['categoryname'].dirty ||  
                        subCatgeoryForm.controls['categoryname'].touched || 
                        (subCatgeoryForm.controls['categoryname'].untouched  && attemptedSubmit ) )">
                            Category Name required.
                    </small>
                </div>
            </div>

      
    </div>
    <div class="modal-footer">
        <button *ngIf="add_Modal_Flag" type="button" class="btn btn-dark-rounded"  (click)="save();attemptedSubmit = true;">{{ addLoading ? "Saving..." : "Save" }}</button>
        <button *ngIf="!add_Modal_Flag" type="button" class="btn btn-dark-rounded"  (click)="update();attemptedSubmit = true;">{{ addLoading ? "Updating..." : "Update" }}</button>
        <button class="btn btn-dark-rounded" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</form>
</ng-template>


