ngx-star-rating{
  label.star{
    font-size: -1px;
    padding: 8px;
    transition: all .2s;
  }
} 
.star-rating1 label i{
  font-size: 25px !important;
  padding: 6px !important;
}
.star-rating label i{
  font-size:12px !important;
  padding:2px !important;
}
svg.ngx-charts{width:auto !important;}
.dash_mainmenu_item_sourc_grph ngx-charts-gauge{
  float: right !important;
  margin-top: -26px !important;
  //width: 80px;
  //height: 85px;
  width: 96px;
  height: 84px;
}
.dash_mainmenu_item_scl_titl h6{
  padding: 4px 0 0 10px;
}
.dash_mainmenu_item_sourc_grph>.ngx-charts-outer>svg{
  width: 80px !important;
  height: 75px !important;
}
.dash_mainmenu_item_scl{margin-bottom:20px;}
agm-map {
  height: 500px;
}
agm-marker{
  font-size: 20px;
}

.cont {
  width:135%;
  //width: 170%;
  /* max-width: 334px; */
  /* text-align: center; */
  margin: -3% auto;
  /* padding: 23px 0; */
  /* background: #111; */
  /* color: #EEE; */
  /* border-radius: 5px; */
  /* border: thin solid #444; */
  overflow: hidden;
  margin-left: -33%;
}
div.stars {
  width: 100%;
  display: inline-block;
}



.card-header{
  background-color: #0b344a;
  cursor: pointer;
}
.graph_item_data{
  padding-left: 75%;
  padding-top: -28%;
  margin-bottom: -22%;
  color: #597d8f;
}
.dshgraph_icon{
  // width: 131px;
  // height: 117px;
  // float: right;
  // background: #fff;
  // border-radius: 70px;
  // box-shadow: 2px 3px 8px rgb(0 0 0 / 70%);
  // padding-top: 4%;

  width: 123px;
  height: 121px;
  float: right;
  background: #fff;
  border-radius: 70px;
  box-shadow: 2px 3px 8px rgb(0 0 0 / 70%);
  padding-top: 6%;
  
}

h1, h6, small{
  color: whitesmoke;
}




*h3{
  font-weight: 500;
  font-size: 18px;
  color: whitesmoke;
}
.row label{
  font-size: 15px;
  color: #6a818d;
}

h2{
  
  font-size: 15px;
  color: #6a818d;
  text-transform: capitalize;
}

th td{
  color: whitesmoke;
}
/*Play store rating CSS*/

h4 {
  display: flex;
  flex-direction: row;
  color: white;
  opacity: 0.5;
}
h4:before, h4:after{
  content: "";
  flex: 3 3;
  border-bottom: 1px solid;
  margin: auto;
}
h4:after {
  margin-right: 10px
}

/* Progress Bar CSS*/
.cssProgress {
  width: 100%;
  margin-bottom: 20px;
}
.cssProgress .progress2{
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.cssProgress .cssProgress-bar {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  background: #3798d9;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.8s ease-in-out;
  padding:2%;
}


.progress2 {
  background-color: #EEE;
  border-radius: 40px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.progress2 .cssProgress-bar {
  height: 18px;
  border-radius: 40px;
}
.progress2 .cssProgress-label {
  //line-height: 18px;
  padding-top: 20px;
  padding-left: 10px;
  justify-content: center;
  bottom: 0.4em;
}

.dash_mainmenu_item h2{
    font-size:30px;
    color: #fff;
    font-weight: 600;
}
.dash_mainmenu_item .card-header{
  border-radius: 15px;
  border: 1px solid #02202f;
  box-shadow: 2px 2px 5px #021621;
}
.dash_mainmenu_item label{
  color: #a4aaad;
  font-size: 15px; 
    //  margin-left: 4%;
}
.dash_mainmenu_item span{
  float: right;
  //background: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
}
.dash_mainmenu_item span .dshimg_icon{
  width:40px;
  height:40px;
  float:left;
  background: #fff;
  text-align: center;
  border-radius: 30px;
  box-shadow: 2px 3px 8px rgb(0 0 0 / 70%);
}



.dash_mainmenu_item_scl .dshimg_icon{
  width:40px;
  height:40px;
  float:left;
  background: #fff;
  text-align: center;
  border-radius: 30px;
  padding-top: 28%;

}


.dash_mainmenu_item span .dshimg_icon img{
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.dash_mainmenu_item span i{
float: left;
  margin-left: 15px;
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}
/* Graph Progressing Bar CSS*/

.set-size {
  font-size: 5em;
}

.set-size-wrapper {
  font-size: 10em;
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
  transform: rotate(108deg);
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
  transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(324deg);
}
.pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #69a78c;
}
.pie-wrapper.progress-45 .pie .left-side {
  transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-75 .pie .left-side {
  transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-95 .pie .left-side {
  transform: rotate(342deg);
}
.pie-wrapper.progress-95 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0/50%;
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}
.pie-wrapper--solid.progress-65 {
  background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
  background: #e67e22;
  transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
  background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
  background: #34495e;
  transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  transform: rotate(43.2deg);
}


/*Image Star CSS */

.img-star{
  width: 50%;
  height: 100%;
  margin-left: 20%;
}


.star-rating {
  direction: rtl;
  display: inline-block;
}

.star-rating input[type=radio] {
  display: none
}

.star-rating label {
  color: #bbb;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
  color: #f8ac11
}


#divChart{
  height: 30%;
    width: 50%;
    padding-left: 5%;
}


#divBarChart{
  height: 100%;
    width: 80%;
    padding-left: 5%;
}


//progress bar

.container .box {
  width: 100%;
}

.container .box h2 {
  display: block;
  text-align: center;
  color: #fff;
}

.container .box .chart {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 160px;
  height: 160px;
  color: #fff;
}

.container .box canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  width: 50%;
}



.donut-inner {
  margin-top: -123px;
    margin-bottom: 100px;
    margin-left: 37%;
}
.donut-inner h5 {
  margin-bottom: 5px;
  margin-top: 3%;
  margin-left: 10%;
  font-size: 18px;
  color: white;
}
.donut-inner span {
  font-size: 12px;
}

::ng-deep .ngx-charts{
  align-content: center !important;
  float : none !important;
}

::ng-deep .chart-legend .legend-label-text {
  width: 100% !important;
}
::ng-deep .chart-legend .legend-labels {
  background: none !important;
  text-align: center !important;
  margin-left: 45px !important;
}

::ng-deep .ngx-charts { text { 
  fill: #fff !important; 
  font-size: 35px;font-weight: bold;
} 
}

::ng-deep .ngx-charts .arc {
  //stroke: red;
  stroke-width: 100px;
}

::ng-deep .chart-legend  { .legend-label  { 
  color: #fff !important; 
  margin-left: 3%;
  float: left;
  background-color: none;
} 
}


::ng-deep .vedios .ngx-charts { text { 
  fill: #fff !important; 
  font-size: 24px;
  font-weight: 400;
} 
}

// ----------new-------
td.digits {
  text-align: center;
}
td.digits[_ngcontent-serverApp-c147] {
  text-align: left;
}
h6.pinkbox {
  color: #FFE0F5;
  opacity: 1 !important;
}
h6.greenbox {
  color: #C1FDE3;
  opacity: 1 !important;
}
h6.yellowbox {
  color: #FFFBDF;
  opacity: 1 !important;
}
h6.bluebox {
  color: #D4EEFF;
  opacity: 1 !important;
}
h6.green1box {
  color: #C9FFC8;
  opacity: 1 !important;
}
h6.redbox {
  color: #FFA5CF;
  opacity: 1 !important;
}
h6.greybox {
  color: #FFFFFF;
  opacity: 1 !important;
}
h6.volitebox {
  color: #FFFFFF;
  opacity: 1 !important;
}
h6.brownbox {
  color: #FFFFFF;
  opacity: 1 !important;
}

.font-primary {
  color: #FFFFFF !important;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}


@media screen and (max-width: 1920px) {
  .graph-container{
    width: 100% !important;
  }
}