

<div class="ps-page">
  <app-header></app-header>
</div>
<!-- ---------------------------------SECTION privacy& policy------------------------ -->
<section  class="privacy">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>PRIVACY & POLICY</h3>
        <div class="pgh1">
          <p>
            This Privacy Policy is laid down for each individual visiting the
            website. This policy has been created to guide our users and help
            them understand how we collect and process their data. Please read
            the privacy policy carefully before using the website.
          </p>
        </div>
        <div class="pgh1">
          <h4>Overview:</h4>
          <p>
            <b>Medimall,</b> a project owned and operated<b>
              by Medfolio Healthcare Technologies Pvt Ltd</b
            >, having its office in Kochi, Kerala is one stop healthcare
            platform offering an e pharmacy, online fitness and wellness
            application, medical articles and videos and also online doctor
            consultation.
          </p>
        </div>
        <div class="pgh1">
          <p>
            <b>Medfolio Healthcare Technologies Pvt. Ltd</b> values your
            privacy. In this Privacy Policy ("Policy"), we describe the
            information that we collect about you when you visit our website<b>
              www.medimall.co.in </b
            >and Mobile Application Medimall“ (hereinafter Website & Mobile
            Application collectively be referred to as “ Platform”), and use the
            services available on the Website ("Services"), and how we use and
            disclose that information.
          </p>
        </div>
        <div class="pgh1">
          <p>
            This Policy is accessible at (privacy policy website link - insert)
            and is subject to the Medimall Terms of Use, which can be accessed
            at (terms of use website link - insert). Your use of the Website
            and/or Services and any personal information you provide on the
            Platform remains subject to the terms of the Policy and Medimall’s
            Terms of Use.
          </p>
        </div>
        <div class="pgh1">
          <h4>Note:</h4>
          <p>
            Our privacy policy is subject to change at any duration without
            prior notice. Please review this privacy policy to be aware of any
            changes. By visiting this Platform you agree to be bound by the
            terms and conditions of this Privacy Policy. If you do not agree to
            any sections of the policy, please do not use or access our Website.
            By mere use of the Platform, you expressly consent to our use and
            disclosure of personal information provided by you in accordance
            with this Privacy Policy. This Privacy Policy is incorporated into
            and subject to the Terms of Use.
          </p>
        </div>
        <div class="pgh1">
          <h4>Intellectual Property:</h4>
          <p>
            Unless stated otherwise,<b
              >Medfolio Healthcare Technologies Pvt. Ltd.</b
            >
            holds the sole rights of all the digital content, including site
            layout, software, images, photographs, text, services, articles,
            blogs, tech reviews, product descriptions, service descriptions,
            icons, and other similar materials, available throughout the
            website. Trademark, logos of <b>www.medimall.co.in </b> cannot be
            displayed at any commercial or non-commercial use without prior
            permission from the company.
          </p>
        </div>
        <div class="pgh1">
          <h4>Information you provide us:</h4>
          <p>
            “Personal information” is defined to include information that
            whether on its own or in combination with other information may be
            used to readily identify or contact you such as name, address, email
            address, phone number, etc.
          </p>
          <p>
            The type of personal information that we collect from you varies
            based on your particular interaction with our Website. Personal
            information collected shall include but is not limited to your name,
            gender, age, account password, postal address, phone number, email
            address, contact preferences, ID proof (PAN, Passport, Aadhar, Voter
            ID, etc.), bank account/credit card/debit card details, proof of
            employment, proof of educational background, and other information
            that would assist us in verifying your identity.
          </p>
          <p>
            We may process information, including personal data, about you that
            you provide to us This data may include information provided by you:
          </p>

          <ul class="ulitem">
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i> at the time of
              registration while signing up to our services or when updating any
              of the information provided at the time of registration;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i> at the time of
              subscribing to our services;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i> if a subscription
              is made to any of our mailing lists;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i> if you complete
              any surveys or feedback that we may invite you to participate in;
              and
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i> in connection with
              your other communications with us (Telephonic, email, or
              otherwise).
            </li>
          </ul>
        </div>

        <div class="pgh1">
          <p>
            The information you give us may contain details such as your name,
            age, postcode, email address, phone number, gender, ethnicity,
            religion, disability status, employer, affiliated organizations, job
            details, personal description, information relating to your
            participation in the Programme and feedback on the Programme,
            Government ID (PAN, Aadhar, Voters ID, etc.). You may need to
            provide us with some of this information in order to be able to
            avail our services.
          </p>
        </div>

        <div class="pgh1">
          <p>
            The website is not designed to attract users below 13 years and thus
            the company does not intend to keep data of the users below the
            specified age.
          </p>
        </div>

        <div class="pgh1">
          <p>
            As part of the registration process, you will be asked to provide
            your specific consent for us to process your personal data,
            including sensitive personal data relating to ethnicity, disability
            status, and/or religion (if provided).
          </p>
        </div>

        <div class="pgh1">
          <p>
            You undertake that your personal information shall at all times be
            accurate, complete, and up to date. We shall also make reasonable
            efforts to provide you with the opportunity to request correction of
            your personal information provided to us if the same is inaccurate;
            or even to delete the personal information, if so requested and
            subject to applicable law. Further, we may decline to process
            requests which we find to be contrary to the terms laid down under
            this Policy, Platform terms and conditions, or any applicable laws,
            require disproportionate technical effort, jeopardize the privacy of
            others, or are extremely impractical.
          </p>
        </div>

        <div class="pgh1">
          <h4>Information we may collect from you:</h4>
          <p>
            We may collect and process technical information about your
            computer, your Internet Protocol address, operating system, and
            browser type and version. We collect this information for system
            administration purposes and to report aggregate information on usage
            to other organizations (including our funders). We collect this
            information by using cookies and other similar technologies. When
            reporting to other organizations, we only disclose statistical data
            about the browsing actions and patterns of usage of our sites, which
            does not identify any individual by name or IP address or include
            any data relating to an individual user.
          </p>
        </div>

        <div class="pgh1">
          <h4>Information we collect from social media:</h4>
          <p>
            You may at times be permitted to log into our Platform through your
            other social networking accounts. If you do so, you must enter the
            email address and password that you use for such social networking
            accounts. We will ask that you grant us permission to access and
            collect your basic information (this includes your name, profile
            picture, gender, networks, user IDs, list of friends, date of birth,
            email address, and any other information you have set to public on
            your account). If you allow us to have access to this information,
            then we will have access to this information even if you have chosen
            not to make that information public.
          </p>
        </div>

        <div class="pgh1">
          <p>
            We store the information that we receive from such social networking
            sites with other information that we collect from you or receive
            about you.
          </p>
        </div>

        <div class="pgh1">
          <p>
            Such social networking sites control the information they collect
            from you. For information about how social networking sites may use
            and disclose your information, including any information you make
            public, please consult the respective social networking site’s
            privacy policy. We have no control over how any third-party site
            uses or discloses the personal information it collects about you.
          </p>
        </div>

        <div class="pgh1">
          <h4>
            Collection Of Automatic Information, use of cookies and other
            tracking devices:
          </h4>
          <p>
            We and our third-party service providers, which include ad networks,
            use cookies, web beacons, and other tracking technologies to collect
            information about your use of our Platform and services, such as
            your browser type, your ISP or operating system, your domain name,
            your access time, the URL of the previous website you visited, your
            page views, your IP address, and the type of device that you use. We
            also track how frequently you visit our Platform and use our
            services. We use this information (including the information
            collected by our third-party service providers) for Website
            analytics (including to determine which portions of our Platform are
            used most frequently, what our users like/do not like), to assist us
            in determining relevant advertising(both on and off our Platform),
            to evaluate the success of our advertising campaigns, and as
            otherwise described in this policy. We may obtain your device ID,
            which is sent to Medimall’s servers and used in fraud prevention
            efforts.
          </p>
        </div>

        <div class="pgh1">
          <h4>Cookies.</h4>
          <p>
            We and our third-party service providers collect information from
            you by using cookies. A cookie is a small file stored on a user's
            computer hard drive containing information about the user. The
            cookie helps us analyze web traffic or informs you about your use of
            a particular website. Cookies allow web applications to respond to
            you as an individual, tailoring its operations to your needs, likes,
            and dislikes by gathering and remembering information about your
            preferences. When you visit the Platform, we may send one or more
            cookies (i.e., a small text file containing a string of alphanumeric
            characters) to your computer that identifies your browser.
          </p>
        </div>

        <div class="pgh1">
          <p>
            Some of these cookies may be connected to third-party companies or
            websites. The terms of use of such cookies are governed by this
            Policy and the privacy policy of the relevant third-party company or
            website. For example, Google measures the performance of
            advertisements by placing cookies on your computer when you click on
            ads. If you visit the Platform when you have such cookies on your
            computer, we and Google will be able to tell that you saw the ad
            delivered by Google. The terms of use of these cookies are governed
            by this Policy and Google's privacy policy.
          </p>
        </div>

        <div class="pgh1">
          <h4>Disabling Cookies.</h4>
          <p>
            You can choose to accept or decline cookies. Most web browsers
            automatically accept cookies, but you can usually modify your
            browser setting to decline cookies if you prefer. If you disable
            cookies you may be prevented from taking full advantage of the
            Platform because it may not function properly if the ability to
            accept cookies is disabled.
          </p>
        </div>

        <div class="pgh1">
          <h4>Clear GIFs, pixel tags, and other technologies.</h4>
          <p>
            Clear GIFs are tiny graphics with a unique identifier, similar in
            function to cookies. In contrast to cookies, which are stored on
            your computer’s hard drive, clear GIFs are embedded invisibly on web
            pages. We may use clear GIFs(a.k.a. web beacons, web bugs, or pixel
            tags), in connection with our Platform to, among other things, track
            the activities of Platform visitors, help us manage content, and
            compile statistics about Platform usage. We and our third-party
            service providers also use clear GIFs in HTML emails to our
            customers, to help us track email response rates, identify when our
            emails are viewed, and track whether our emails are forwarded.
          </p>
        </div>

        <div class="pgh1">
          <p>
            You acknowledge that some entities and /or countries where we may
            transfer your personal information may not comply with data
            protection policies that are as stringent as the laws of India or
            the policies followed by Medimall. You acknowledge that it is
            adequate that when we transfer your personal information to any
            other entity within or outside India, we will place contractual
            obligations on the transferee which will oblige the transferee to
            adhere to the provisions of this Privacy Policy.
          </p>
        </div>

        <div class="pgh1">
          <h4>How your personal information is used:</h4>
          <p>
            We collect your personal information and aggregate information about
            the use of our Platform and Services to better understand your needs
            and to provide you with a better Platform experience. Specifically,
            we may use your personal information for any of the following
            reasons:
          </p>
        </div>

        <div class="pgh1">
          <ul class="ulitem">
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>To provide our
              Services to you, including registering you for our Services,
              verifying your identity and authority to use our Services, and to
              otherwise enable you to use our platform<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              and our Services;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>For customer
              support and to respond to your inquiries;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>For internal
              record-keeping purposes;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>To process billing
              and payment, including sharing with third-party payment gateways
              in connection with Platform and/or Services;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>To improve and
              maintain our Platform and our Services (for example, we track
              information entered through the "Search" function; this helps us
              determine which areas of our<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Platform users like best and areas that we may want to enhance; we
              also will use for trouble-shooting purposes, where applicable);
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>To periodically
              send promotional emails to the email address you provide regarding
              new products offered by Medimall, special offers from Medimall or
              other information about<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Medimall that we think you may find interesting;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>To contact you via
              email, telephone, facsimile or mail, or, where requested, by text
              message, to deliver certain services or information you have
              requested;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>For Medimall’s
              market research purposes, including, but not limited to, the
              customization of the Platform according to your interests;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>We may use your
              demographic information (i.e., age, postal code, residential and
              commercial addresses, and other various data) to more effectively
              facilitate the promotion of<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              goods and services to appropriate target audiences and for other
              research and analytical purposes;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>To resolve
              disputes, to protect ourselves and other users of our Platform and
              Services, and to enforce our Platform’s terms and conditions;
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>We also may compare
              personal information collected through the Platform and Services
              to verify its accuracy with personal information collected from
              third parties; and
            </li>
            <li>
              <i class="fa fa-circle" aria-hidden="true"></i>We may combine
              aggregate data with the personal information we collect about you.
            </li>
          </ul>
        </div>
        <div class="pgh1">
          <p>
            From time to time, Medimall may use personal information for new and
            unanticipated uses not previously disclosed in our Privacy Policy.
            If our information practices change regarding information previously
            collected, Medimall shall make reasonable efforts to provide notice
            and obtain the consent of any such uses as may be required by law.
          </p>
        </div>

        <div class="pgh1">
          <p>
            It is further clarified that your registration on the Website shall
            be deemed to be your consent to be contacted for the purposes
            mentioned above,
          </p>
        </div>

        <div class="pgh1">
          <p>
            (i) on the mobile number shared by you even if you are registered
            with the National Customer Preference Register (NCPR) and have opted
            out of receiving promotional calls and messages and
          </p>
        </div>

        <div class="pgh1">
          <p>
            (ii) by way of SMS or email notifications or messages in any other
            electronic form.
          </p>
        </div>

        <div class="pgh1">
          <p>
            It is further clarified that your registration on the Platform shall
            be deemed to be your consent to be contacted for the purposes
            mentioned above, (i) on the mobile number shared by you even if you
            are registered with the National Customer Preference Register (NCPR)
            and have opted out of receiving promotional calls and messages and
            (ii) by way of SMS or email notifications or messages in any other
            electronic form.
          </p>
        </div>
        <div class="pgh1">
          <p>
            At our sole discretion, Medimall may offer any of the following free
            services on the Platform, which you may select to use or receive at
            your option. Certain of the following services may require you to
            provide additional personal information as detailed below:
          </p>
        </div>

        <div class="pgh1">
          <h4>Additional Services:</h4>
          <p><b>1. Newsletter Subscriptions:</b></p>
          <p>
            We may offer a free electronic newsletter to users. We will gather
            the email addresses of users who sign up for Medimall for the
            newsletter mailing list. Users may remove themselves from this
            mailing list by opting out of receiving newsletters during the
            registration process, by following the link provided in each
            newsletter that points users to a subscription management page where
            the user can unsubscribe from receiving newsletters or by changing
            their preferences in their profile settings page.
          </p>
        </div>

        <div class="pgh1">
          <p><b>2. Forwarding Messages:</b></p>
          <p>
            Our Platform users can voluntarily choose to electronically forward
            a link, page, or document to someone else by clicking. To do so, the
            user must provide his or her email address, as well as the email
            address of the recipient. The user's email address is used only in
            the case of transmission errors and, of course, to let the recipient
            know who sent the email. The information is not used for any other
            purpose.
          </p>
        </div>

        <div class="pgh1">
          <p><b>3. Product Surveys:</b></p>
          <p>
            We may conduct user surveys from time to time to better target our
            content to our Platform users. We will not share individual
            responses from these surveys with any third party. We will share
            aggregate data with third-party service providers, partners, and
            other third parties.
          </p>
        </div>

        <div class="pgh1">
          <p><b>4. Security:</b></p>
          <p>
            We employ procedural and technological security measures, which are
            reasonably designed to help protect your personal information from
            unauthorized access or disclosure. Medimall may use encryption,
            passwords, and physical security measures to help protect your
            personal information against unauthorized access and disclosure. No
            security measures, however, are 100% complete. Therefore, we do not
            promise and cannot guarantee, and thus you should not expect, that
            your personal information or private communications will not be
            collected and used by others. You should take steps to protect
            against unauthorized access to your password, phone, and computer
            by, among other things, signing off after using a shared computer,
            choosing a robust password that nobody else knows or can easily
            guess, and keeping your log-in and password private. Medimall is not
            responsible for the unauthorized use of your information or for any
            lost, stolen, compromised passwords, or for any activity on your
            Account via unauthorized password activity
          </p>
        </div>
        <div class="pgh1">
          <h4>Disclosure:</h4>
          <p>
            We may share the information that we collect about you, including
            your personal information, as follows:
          </p>
        </div>

        <div class="pgh1">
          <h4>1. Information disclosed to protect us and others:</h4>
          <p>
            We may disclose your information including Personal Information if
          </p>
          <ol type="I" class="ulitem">
            <li>
              Medimall reasonably believes that disclosure is necessary in order
              to comply with a legal process (such as court orders, search
              warrant, investigations, etc.) or other legal requirements of any
              governmental authority,
            </li>
            <li>
              disclosure would potentially mitigate our liability in an actual
              or potential lawsuit,
            </li>
            <li>
              reasonably necessary to enforce this Privacy Policy, our terms,
              and conditions, etc.
            </li>
            <li>
              disclosure is intended to help investigate or prevent unauthorized
              transactions or other illegal activities, or
            </li>
            <li>
              necessary or appropriate to protect our rights or property, or the
              rights or property of any person or entity.
            </li>
          </ol>
        </div>

        <div class="pgh1">
          <h4>
            2. Information disclosed to third-party service providers and
            business partners:
          </h4>
          <p>
            We may contract with various third parties for the provision and
            maintenance of the Platform, Services, and our business operations,
            and Medimall may need to share your personal information and data
            generated by cookies and aggregate information (collectively,
            "information") with these vendors and service agencies. For example,
            we may provide your information to a credit card processing company
            to process your payment. The vendors and service agencies will not
            receive any right to use your personal information beyond what is
            necessary to perform its obligations to provide the Services to you.
            If you complete a survey, we also may share your information with
            the survey provider; if we offer a survey in conjunction with
            another entity, we also will disclose the results to that entity.
          </p>
        </div>

        <div class="pgh1">
          <h4>
            3. Disclosure to non-affiliated third parties in furtherance of your
            request:
          </h4>
          <p>
            Your request for services may be shared with third-party websites
            with whom we have a contractual relationship in order to provide
            your request with maximum exposure. The post on the third-party
            website will include the details of your request, including your
            location, and other contact details. Interested bidders, however,
            will be able to click on your request on such a third-party site,
            and will be directed to our Platform where they will have access to
            your contact details (Partial or complete), as would any other
            service provider on our Platform interested in bidding on your
            request.
          </p>
        </div>

        <div class="pgh1">
          <h4>
            4. Information disclosed to law enforcement or government officials:
          </h4>
          <p>
            We will disclose your information, including, without limitation,
            your name, city, state, telephone number, email address, user ID
            history, quoting and listing history, and fraud complaints, to law
            enforcement or other government officials if we are required to do
            so by law, regulation or other government authority or otherwise in
            cooperation with an investigation of a government authority.
          </p>
        </div>
        <div class="pgh1">
          <h4>5. In the event of a change of control or bankruptcy:</h4>
          <p>
            In the event that Medimall undergoes a change in control, including,
            without limitation, a merger or sale of all or substantially all of
            Medimall's assets to which this Platform relates or other corporate
            reorganization in which Medimall participates, and is thus merged
            with or acquired by a third party entity (a "Successor"), Medimall
            hereby reserves the right to transfer the information we have
            collected from the users of the Platform and/or Services to such
            Successor.
          </p>
        </div>

        <div class="pgh1">
          <p>
            In addition, in the event of Medimall's bankruptcy, reorganization,
            receivership, or assignment for the benefit of creditors, or the
            application of laws or equitable principles affecting creditors'
            rights generally, Medimall may not be able to control how your
            information is transferred, used, or treated and reserves the right
            to transfer the information we have collected from the users of the
            Platform and/or Services to non-affiliated third parties in such
            event.
          </p>
        </div>
        <div class="pgh1">
          <h4>6. Information disclosed at your request:</h4>
          <p>
            We may share your personal information with other users or third
            parties to whom you explicitly ask us to send your information or if
            you explicitly consent to such disclosure upon receipt of a specific
            Service.
          </p>
        </div>

        <div class="pgh1">
          <h4>Updating, Deleting, and Correcting Your Personal Information:</h4>
          <p>
            You can review, correct and delete your personal information by
            emailing us at
            <a href="#" class="support">support@medfoliotechnologies.com</a> or
            by editing in the personal information section. You must promptly
            reach out to us to change your information if your personal
            information changes or is inaccurate. Typically, we will not
            manually alter your personal information because it is very
            difficult to verify your identity remotely. Nonetheless, upon your
            request, we may close your account and remove your personal
            information from view as soon as reasonably possible based on your
            account activity and in accordance with applicable law. We do retain
            information from closed accounts in order to comply with the law,
            prevent fraud, collect any fees owed, resolve disputes, troubleshoot
            problems, assist with any investigations of any user, enforce our
            terms and conditions, and take any other actions otherwise permitted
            by law that we deem necessary in our sole and absolute discretion.
            You should understand, however, that once you publicly post a
            request, offer, comment, feedback, or any other information onto the
            Platform, you may not be able to change or remove it. Once we have
            deleted or removed your account, you agree that Medimall shall not
            be responsible for any personal information that was not included
            within your deleted and/or removed account that remains on the
            Platform.
          </p>
        </div>
        <div class="pgh1">
          <h4>Retention of your personal information:</h4>
          <p>
            Your personal data will be destroyed or erased from our systems when
            it is no longer required for the relevant specified purpose that it
            was collected for, provided that we may retain personal data in
            order to comply with applicable laws, regulations, and rules.
          </p>
        </div>
        <div class="pgh1">
          <p>
            Any information collected from in-app transactions shall not be
            retained and shall be as per our service provider policy. We respect
            your privacy and this information shall not be divulged anywhere or
            misused by Medimall in any possible way.
          </p>
        </div>

        <div class="pgh1">
          <h4>Changes to our data protection and privacy policy:</h4>
          <p>
            Any changes we may make to our data protection and privacy policy in
            the future will be posted on this webpage and, where appropriate,
            notified to you. Please check this webpage frequently to see any
            updates or changes to our Data Protection and Privacy Policy.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- -------------------------------FOOTER-------------------------------- -->
<style>
  @font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Light"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
        format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
        format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
        format("truetype");
    font-weight: 100;
  }
</style>

<footer class="ps-footer ps-footer--5" style="padding-top: 40px">
  <app-footer></app-footer>
</footer>
<button class="btn scroll-top"><i class="fa fa-angle-double-up"></i></button>
<div class="ps-preloader" id="preloader">
    <div class="ps-preloader-section ps-preloader-left"></div>
    <div class="ps-preloader-section ps-preloader-right"></div>
</div>


<style type="text/css">
  .icon {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 3px 10px;
    font-size: 18px;
    font-family: sans-serif;
  }

  .icon:nth-child(1) {
    background: #00aaff;
  }

  .icon:nth-child(2) {
    background: salmon;
  }

  .icon:nth-child(3) {
    background: gray;
  }

  /**
 * The "shine" element
 */

  .icon:after {
    content: "";
    position: absolute;
    /*top: -110%;
  left: -210%;*/
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  /* Hover state - trigger effect */

  .icon:hover:after {
    opacity: 1;
    /* top: -30%;
  left: -30%;*/
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }

  /* Active state */

  .icon:active:after {
    opacity: 0;
  }
</style>
<style>
  .tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltip button {
    font-weight: 600;
    font-size: 13px;
    color: #575757;
    opacity: 1;
  }
</style>

<style type="text/css">
  .intro {
    height: auto;
    min-height: 100vh;
    text-align: center;
    background-color: teal;
  }
</style>


