<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body tab2-card">  

                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <div class="card-body div-data"> 
                                        <div class="row" >
                                            <a for="validationCustom0" >SCAN CONSUMER CARD</a>

                                        </div>
                                    </div>
                                </div>
                            </div>


                         

                            <div class="row">
                                <div class="col-md-12 mt-4">
                                        <img src="assets/images/pos/mobile-scan-image.png" width="30%" height="30%"/>
                                        <button type="button" class="btn btn-dark">Continue</button>
                                </div>
                            </div>


                            <div class="row" >
                                <div class="col-md-8 mt-4 ">
                                </div>
                                <div class="col-md-4 calculator_div">
                                    <div class="card-data">
                                        <label style="text-align: center;">Card Number</label>
                                        <div style="justify-content: center;" class="ml-4 row">
                                            <input type="text" id="input_box">
                                        </div>
                                    </div>
                                   
                                    <table class="table-striped" style="padding: none !important;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <button  value="7" id="7">7</button>
                                                </td>
                                                <td>
                                                    <button value="8" id="8">8</button>
                                                </td>
                                                <td>
                                                    <button value="9" id="9">9</button>
                                                </td>
                                                <td>
                                                    <button value="" id="clear"> 
                                                        <img src="assets/images/pos/calculator-back-button.svg" width="50%">
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button value="4" id="4">4</button>
                                                </td>
                                                <td>
                                                    <button value="5" id="5">5</button>
                                                </td>
                                                <td>
                                                    <button value="6" id="6">6</button>
                                                </td>
                                                <td>
                                                    <button value="-" id="subtract">CE</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button value="1" id="1">1</button>
                                                </td>
                                                <td>
                                                    <button value="2" id="2">2</button>
                                                </td>
                                                <td>
                                                    <button value="3" id="3">3</button>
                                                </td>
                                                <td rowspan="2">
                                                    <button style="height: 105px;" value="" id="">ENTER</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <button value="0" id="0">0</button> 
                                                </td>
                                                <td>
                                                    <button value="." id="dot">.</button>
                                                </td>
                                                <td>
                                                    <button value="" id="">.</button>
                                                </td>
                                                <td></td>
                                                
                                            </tr>

                                        </tbody>
                                    </table>
                                   
                                </div>
                            </div>


                            <div class="mt-4 row">
                                <div class="col-md-12 mt-4">
                                    <div class="card-body div-data"> 
                                        <div class="row" >
                                            <label style="color: white;font-size: 20px;">&lt;</label> &nbsp; <h6 for="validationCustom0" >  Amount Paid <i class="fa fa-inr">0.00</i>  
                                                <span>Amount Due <i class="fa fa-inr">0.00</i>   </span> <label style="color: white;font-size: 20px;">&gt;</label>
                                            </h6>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                  




                                    
                            


            </div>

        </div>
    </div>
</div>


