kendo-listview.k-widget.k-listview.k-d-flex {
  background-color: transparent;
  border: none;
}
.img-medimall{
  padding-top: 30px;
}
.img-medimall img{
  text-align: center;
    height: 150px;
    width: 100%;
    object-fit: contain;
}
.table th{
  color: #94aebb;
  font-weight: lighter;
  background-color: #03344d;border: 1px solid #b9bcbc30;
}

.table td {
  //color: #9cb8c6;
  color: white;
  font-weight: lighter;
  opacity: 0.7;
  background-color: #045b86;   border: 1px solid #b9bcbc30;
}

h4,h5,h6,span{
  color: white;
  opacity: 0.7;
}

.card{
    background-color: #1c5470;
    padding: 10px;
    /* padding: 40px; */
    align-content: center;
    border-radius: 10px;
    /* padding-right: 20px; */
    color: white;
    position: relative;
}

.span-data{
    justify-content: space-between;
    background-color: #0a3347;
    color:white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 75px;
    font-weight: 5em;
    float: right;
}




/*Button CSS*/

.btn{
    
    font-weight: 300;
  }
  .btn-dark{
      
    border-radius: 10px;
    background-color: #0b4866;
  }

  
  .btn-dark-rounded{
    margin-left: 12px;
    background-color: #042b3f;
    border-radius: 10.25em;
  }

  
  .btn-inverse-dark{
      background-color: #0b4866;
      background-image: none;
      border-color: rgba(79, 74, 96, 0);
    }
    
    .btn-inverse-dark:not(.btn-inverse-light) {
      color: #4f4a60;
    }
    
    .btn-inverse-dark:hover, .btn-primary :hover {
      color: #ffffff;
      background-color: #17074d;
    }
    
    .btn-inverse-dark.focus, .btn-inverse-dark:focus ,.btn-primary:focus {
      box-shadow: 0 0 0 3px rgba(79, 74, 96, 0.5);
    }
    
    .btn-inverse-dark.disabled, .btn-inverse-dark:disabled ,.btn-primary :disabled{
      color: #4f4a60;
      background-color: transparent;
    }
    
    .btn-inverse-dark.active, .btn-inverse-dark:active,
    .show > .btn-inverse-dark.dropdown-toggle, .btn-primary :active {
      color: #ffffff;
      background-color: #4f4a60;
      border-color: #4f4a60;
    }
    
    .btn-dark, .btn-dark:hover ,.btn-primary :hover{
      box-shadow: 0 2px 2px 0 rgba(79, 74, 96, 0.14), 0 3px 1px -2px rgba(79, 74, 96, 0.2), 0 1px 5px 0 rgba(79, 74, 96, 0.12);
        justify-content: right;
    }
    
    
  .form-control{
      //background: #093d57;
      //height: 30px;
      border: none;
      background: #02344D;
      color: white;
      opacity: 0.7;
    }
    .form-class{
        background: #093d57;
        width: 152px;
    }
      .form-group {
        margin-bottom: 1.5rem;
      }

      .modal-body, .modal-header, .modal-footer{
        color:#fff;
        width: 130%;
        border-bottom: none !important;
        border-top: none !important;
        label{
          color: white;
          opacity: 0.7;
        }
        background-color: #0b4866;
    }
    label{
        color: wheat;
    }

    .modal-body .table thead th {border-bottom: unset;color: #8a959a;font-size: 12px;
      font-weight: normal;
    }

  
    .modal-body .table tr td button{padding: 1px 10px !important;
        border-radius: 11px !important;font-size: 9px;
        margin: 0;
      }

    
.modal-header{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  }
  .modal-footer{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  }


    .font-primary{
        background: green;
        border-radius: 10px;
        width: 30px;
        height: 22px;
    }

    .font-secondary{
        background: red;
        border-radius: 10px;
        width: 35px;
        height: 22px;
    }

    .font-danger{
        background: orange;
        border-radius: 10px;
        width: 30px;
        height: 22px;
    }


    .image{
        background-color: transparent;
    }


    hr{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }



//kendo list view

 
div.gallery {
  border: 1px solid #042b3f;
  width: 24%;
  background-color: #014466;
  height: 456px;
  text-align: center;
  padding: 15px !important;
  float: left;
  margin: 5px;
 
}

// div.gallery:hover {
//   border: 1px solid black;
// }

// div.gallery img {
//   width: 50%;
//   height: auto;
//   align-content: center;
  
// }

// .image_cls{
//   width: 50%;
//   height: 50%;
//   align-items: center;
// }

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}


select,input[type=number]{
  width: 80px;
  border: none;
  color: white;
  font-weight: lighter;
  background: #02344D;
  border-radius: 3px;
  padding: 8px 5px;
  .form-select-control{
    background: #0b4866;
    border: 1px solid #ffffff;
    width: 50px;
    height: 38px;
    color: white;
    opacity: 0.7;
    font-size: 13px;
    border-radius: 26px;
  }
}


// input[type="number"]::-webkit-inner-spin-button,
// input[type="number"]::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   margin: 0;
// }
// input[type="number"] {
//   -moz-appearance: textfield;
// }




.quantity-block {
  margin: auto;
  font-size: 20px;
}
.quantity-arrow-minus,
.quantity-arrow-plus {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 12px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}
.quantity-num {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
}

.number-textbox{
  width : 100% !important;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  // margin-left: 50%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.gallery-ad-img img{
  width: 100px;
  object-fit: contain;
}

.prd_sub_rate .fa{margin-right:2%}


.prd_sub_rate span{
  font-size: 12px;
  color: white;
  position: relative;
  top:-1px;
}

.prd_sub_rate span::before {
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 1px;
  color: white;
  background-color: #cccccc;
  transform: rotate(20deg);  content: '';
}