<!--The content below is only a placeholder and can be replaced.-->
   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W32L424"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) →-->
    
   



<div class="sticky-container">
  <ul class="sticky">
     <li (click)="callNow()">
        <img src="../assets/img/phone-call.svg">
        <!--<i class="icon-telephone"></i>-->
        <p>Call</p>
     </li>
     <li  (click)="openWhatsappWeb()">
        <i class="fa fa-whatsapp"></i>
        <p>Whatsapp</p>
     </li>
  </ul>
</div>

<router-outlet></router-outlet>





