<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                
                <div class="card-body">
                                <!-- <br><br><br><br><br><br><br><br> -->
                                <h5 style="color: white;opacity: 0.5;margin-top: 5%;">Ads & Offers</h5>
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data" *ngIf="disableTab('Home')"> 
                                            <a for="validationCustom0" routerLink="/ads/ads-home"> Home</a>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data"  *ngIf="disableTab('Medimall')"> 
                                            <a for="validationCustom0" routerLink="/ads/ads-medimall" class="">Medimall</a>
                                        </div>
                                       
                                    </div> 
                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data"  *ngIf="disableTab('Foliofit')"> 
                                            <a for="validationCustom0"  class="" routerLink="/ads/ads-foliofit">Foliofit</a>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data"  *ngIf="disableTab('Medfeed')"> 
                                            <a for="validationCustom0" routerLink="/ads/ads-medfeed" class="">MedFeed</a>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data"  *ngIf="disableTab('Seasonal Offers')"> 
                                            <a for="validationCustom0" routerLink="/ads/ads-seasonaloffers" class="">Seasonal Offers</a>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data"  *ngIf="disableTab('Medcoin Page')"> 
                                            <a for="validationCustom0" routerLink="/ads/ads-medcoin" class="">MedCoin Page</a>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data"  *ngIf="disableTab('Profile')"> 
                                            <a for="validationCustom0" routerLink="/ads/ads-profile" class="">Profile</a>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data" *ngIf="disableTab('Cart')"> 
                                            <a for="validationCustom0" routerLink="/ads/ads-cart" class="">Cart</a>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data" *ngIf="disableTab('Promotions')"> 
                                            <a for="validationCustom0" routerLink="/ads/ads-promotions" class="">Promotions</a>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data" *ngIf="disableTab('Promotions')"> 
                                            <a for="validationCustom0" routerLink="/ads/ads-web" class="">Web</a>
                                        </div>
                                       
                                    </div> 


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



