<!-- Container-fluid starts-->
<div class="container-fluid side_innerpage_tab">
    <div class="row">
        <div class="col-sm-12">
            <div class=" tab2-card">
               

                <div class="card-body">
                    <div class="row">
                            <div class="col-md-2">
                                <label>Update Promo</label>
                            </div> 

                            <div class="mt-1 col-md-10">
                                <button  type="button" class="btn btn-dark ml-1">Normal Order Promotions</button>
                                <button  type="button" class="btn btn-dark ml-1">First Order Promotions</button>
                                <button  type="button" class="btn btn-dark ml-1">Third Order Promotions</button>
                                <button type="button" class="btn btn-dark ml-1">Fifth Order Promotions</button>
                                <!-- <div class="tabs" style="text-align: right;padding: 0;">
                                    <input id="tab1" type="radio" name="tabs" checked>
                                    <label for="tab1">Normal Order Promotions</label>
                                    <input id="tab2" type="radio" name="tabs" >
                                    <label for="tab2">First Order Promotions</label>
                                    <input id="tab3" type="radio" name="tabs" >
                                    <label for="tab3">Third Order Promotions</label>
                                    <input id="tab4" type="radio" name="tabs" >
                                    <label for="tab4">Fifth Order Promotions</label>
    
                                
                                </div> -->

                            </div>
                    </div>
                    <br>
                    <div class="mt-4 row">
                        <div class="col-md-2">
                            <label>Choose Area</label>
                        </div>
                        <div class="col-md-5">
                            <button type="button" class="btn btn-dark btn-sm ml-3">Normal Customer</button>
                            <button  type="button" class="btn btn-dark btn-sm ml-3">Premium Customer</button>
                            <!-- <div class="tabs" style="text-align: right;padding: 0;">
                                <input id="tab5" type="radio" name="tabs" checked>
                                <label for="tab5">Normal Customer</label>
                                <input id="tab6" type="radio" name="tabs" >
                                <label for="tab6">Premium Customer</label>

                            
                            </div> -->
                        </div>
                    </div>
                    <br>

                    <div class="mt-4 row">
                        <div class="col-md-2">
                            <label>Choose Type</label>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-dark btn-sm ml-3">Medimall</button>
                            <button  type="button" class="btn btn-dark btn-sm ml-3">Premium Subscription</button>
                            <button  type="button" class="btn btn-dark btn-sm ml-3">Subscription</button>
                            <!-- <div class="tabs" style="text-align: right;padding: 0;">
                                <input id="tab7" type="radio" name="tabs" checked>
                                <label for="tab7">Medimall</label>
                                <input id="tab8" type="radio" name="tabs" >
                                <label for="tab8">Premium Membership</label>
                            
                            </div> -->
                        </div>
                    </div>
                    <br>


                    <div class="row">
                            <div class="form-group col-md-3">
                                <label for="validationCustom01" class="mb-1">Promotion Name</label>
                                <input class="form-control" id="validationCustom01" type="text" placeholder="Diwali Special" [attr.readonly]="editFlag">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="validationCustom02" class="mb-1">Promotion Code</label>
                                <input class="form-control" id="validationCustom02" type="text" placeholder="D28734gUHGh" readonly="editFlag">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="validationCustom02" class="mb-1">Choose Category</label>
                                <select class="form-control classic" id="validationCustom02" readonly="editFlag">
                                    <option>Medicine</option>
                                    <option>HealthCare</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3"></div>
                            <!-- <div class="form-group col-md-3">
                                <label for="validationCustom02" class="mb-1">Choose Product</label>
                                    <select class="form-control classic" id="validationCustom02">
                                        <option>Puma Mask</option>
                                        <option>Tooth Paste</option>
                                    </select>
                            </div> -->
                    
                        <div class="form-group col-md-2">
                            <label for="validationCustom01" class="mb-1">Date Range From</label>
                            <!-- <input class="form-control" id="validationCustom01" type="date" placeholder="Diwali Special">  -->
                            <div class="ml-2 coc-block">
                                <input class="form-control " id="validationCustom01" type="date" placeholder="Diwali Special">
                            </div>

                        </div>
                        <div class="col-md-2">
                            <label>To</label>
                            <input class="form-control" id="validationCustom02" type="date" placeholder="D28734gUHGh">
                        </div>
                        <!-- <div class="form-group col-md-2">
                            <label for="validationCustom02" class="mb-1">Day</label>
                            <input class="form-control" id="validationCustom02" type="date" placeholder="ere54e646">
                        </div> -->
                        <div class="form-group col-md-2">
                            <label for="validationCustom02" class="mb-1">Percentage</label>
                            <input class="form-control" id="validationCustom02" type="text">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="validationCustom02" class="mb-1">Minimum Purchase Amount</label>
                            <input class="form-control" id="validationCustom02" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="validationCustom01" class="mb-1">Maximum Amount</label>
                            <input class="form-control" id="validationCustom01" type="text">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="validationCustom02" class="mb-1">Maximum User</label>
                            <input class="form-control" id="validationCustom02" type="text">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="validationCustom02" class="mb-1">Number per User</label>
                            <input class="form-control" id="validationCustom02" type="text">
                        </div>

                    </div>

                    <div class="mt-3 row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button style="width:150px;align-content: center;" type="button" class="btn btn-dark btn-dark-rounded">Update</button>
                        </div>
                        <div class="col-md-4"></div>
                      
                    </div>


                </div>



            </div>
        </div>
    </div>
</div>


