.card-body{
  color: whitesmoke;
}
.span-data{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

i,h6,label{
  color: white;
  opacity: 0.7;
}
h5{
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
}
h6{
  font-size: 16px;
  font-family: "Poppins", sans-serif !important;
}
.card-data{
    background-color: #13445c;
    padding:10px;
    padding: 40px;
    align-content: center;
    border-radius: 10px;
}

/*Button CSS*/

.form-control{
  background: #014466;
  font-weight: lighter;
}
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .input-group-append,
  .input-group-prepend {
    color: #aaa7a7;
    width: auto;
    border: none;
  }
  
  .input-group-append .input-group-text,
  .input-group-prepend .input-group-text {
    background-color: #014466;
    border-color: #3d3f4e;
    padding: 0.875rem 0.75rem;
    color: #aaa7a7;
  }

  


  .form-group .file-upload-default {
    visibility: hidden;
    position: absolute;
  }
  
  .form-group .file-upload-info {
    background: transparent;
  }

 .btn{
    color: #99b2bf ;
    font-weight: 400;
  }
  
  .btn-dark-rounded{
    margin-left: 12px;
    background-color: #00283d;
    border: unset;
    border-radius: 10.25em;
    }

    .btn-inverse-dark{
      background-color: #0b4866;
      background-image: none;
      border: unset;
      border-radius: 10.25em;
    }
  
    hr{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

        
  .form-control{
    background: #093d57;
    border: none;
    color: #99b2bf;
  }
    .form-group {
      margin-bottom: 1.5rem;
    }

   
.modal-body, .modal-header, .modal-footer{
  background-color: #0b4866;
  color:#fff;
  font-weight: lighter;
  width: 100%;
  border-bottom: none !important;
  border-top: none !important;
  label{
    font-weight: lighter;
    color: white;
    opacity: 0.7;
  }
}

.modal-header{
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.modal-footer{
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
  label{
      color: wheat;
  }
.card-body{
    
    border-radius: 15px;
}


/*Image Upload CSS*/
.image-data{
  background-color: #063e59;
  padding:30px;
  align-content: center;
  border-radius: 10px;
  color:white;
  opacity: 1;
  /*position: relative;
  margin-left: 1rem;*/
}


.icon-style{
  font-size: 100%;
}    


.upload-btn-wrapper {
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  text-align: center;
  height: 150px;
}

.upload-btn-wrapper :hover i {
-webkit-transition-delay: 0.05s;
transition-delay: 0.05s;
-webkit-transition-duration: 0.35s;
transition-duration: 0.35s;
}

.checking{
  display: flex;
  align-items: self-start;
}

.icon {
border: 0px solid gray;
color: white;
opacity: 0.7;
background-color: transparent;
font-size: 60px;
font-weight: bold;
width: 100%;
padding-top: 35px;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
    top: 10px;
    left: 10px;
    width: 220px;
    height: 180px !important;
    opacity: 0;
    cursor: pointer;
}



 /* styling */
    /* arrows */
    select{
      color: #99b2bf ;
      //opacity: 0.7;
      background-color: white;
      //border: thin solid white;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
      margin: 0;      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  
    select option{
      color: #99b2bf ;
      opacity: 0.7;
    }
  
    select ::placeholder,select::selection{
      color: #99b2bf ;
      opacity: 0.7;
    }
  
  
    // select.classic {
    //   background-image:
    //     linear-gradient(45deg, transparent 50%, #042b3f 50%),
    //     linear-gradient(135deg, #042b3f 50%, transparent 50%),
    //     linear-gradient(to right, white, white);
    //   background-position:
    //     calc(100% - 20px) calc(1em + 2px),
    //     calc(100% - 15px) calc(1em + 2px),
    //     100% 0;
    //     background-size: 6px 6px, 6px 6px, 2.5em 2.5em;
    //   background-repeat: no-repeat;
    // }
  
   
    
    // select:-moz-focusring {
    //   color: white;
    //   text-shadow: 0 0 0 white;
    //   opacity: 0.7;
    // }
    
  
    
      input{
        border: none;
        //box-shadow: none;
      }



  
  /*Checkbox*/


  input[type=checkbox] {
    margin-left: 4%;
    zoom: 1.4;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #043954 !important;
  }

/* When the checkbox is checked, add a blue background */
.checkbox-container  input:checked ~ .checkmark {
  background-color: #043954;
}

/* Show the checkmark when checked */
.checkbox-container  input:checked ~ .checkmark:after {
  display: block;
}