<div class="container-fluid Qiuz_page">
    <div class="card-body tab2-card">
        <div class="col-md-12">


               
                <div class="mt-3 med_coin_table_bg row col-md-12" >
                    <div class="col-md-8 med_coin_table_bg">
                        <div class="row">
                            <div class="col-md-3">
                                <label style="opacity: 0.5;" for="validationCustom0" class="">Start Date </label>
                            </div>
                            <div class="col-md-3">
                                    <input class="form-control " id="validationCustom01" type="text" placeholder="Start Date">
                            </div>

                            <div class="col-md-3">
                                <label  style="opacity: 0.5;" >End date</label>
                            </div>
                            <div class="col-md-3">
                                 <input class="form-control " id="validationCustom01" type="text" placeholder="End Date">
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 col-md-4">
                        &nbsp;&nbsp;<button type="button" class="btn btn-dark btn-green">Search</button>
                    </div>
                </div>



                <br><br>
                <div class="mt-2 prem_topbanner table-responsive" style="border-radius: 8px 8px 8px 8px;padding: 20px 20px 80px 20px;">
                    <div class="row" style="border-bottom: 1px solid black;">
                        <div class="col-md-4">
                            <label>Sales Return</label>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-dark btn-sm">Todays Report</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-dark btn-green btn-sm">Sales Report</button>
                        </div>
                    </div>

                    <div class="mt-2 row">
                        <div class="col-md-4">
                        </div>

                        <div class="pl-0 col-md-5">
                            <button type="button" class="btn btn-blue btn-sm">Copy</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-blue btn-sm">SCV</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-blue btn-sm">Excel</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-blue btn-sm">PDF</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-blue btn-sm">Print</button>
                        </div>
                    </div>

                    <table id="sortable-table-2" class="table table-bordered">
                        <thead class="" style="height: 100%;">
                            <tr>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Date</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Vc No</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">From</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Address</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Mobile</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Ref No</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Gross</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Itemdisk</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Taxable</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Total Tax</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Bil Discount</label></th>
                                <th  rowspan="2"><label style="color: white;opacity: 0.5;">Grand Total</label></th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>01-06-2021</td>
                                <td>KL12</td>
                                <td>SDE4585</td>
                                <td></td>
                                <td>8573456902</td>
                                <td>6534</td>
                                <td>14.2</td>
                                <td>0.00</td>
                                <td>14.2</td>
                                <td>0.72</td>
                                <td>0.00</td>
                                <td>15.00</td>
                            </tr><tr>
                                <td>01-06-2021</td>
                                <td>KL12</td>
                                <td>SDE4585</td>
                                <td></td>
                                <td>8573456902</td>
                                <td>6534</td>
                                <td>14.2</td>
                                <td>0.00</td>
                                <td>14.2</td>
                                <td>0.72</td>
                                <td>0.00</td>
                                <td>15.00</td>
                            </tr><tr>
                                <td>01-06-2021</td>
                                <td>KL12</td>
                                <td>SDE4585</td>
                                <td></td>
                                <td>8573456902</td>
                                <td>6534</td>
                                <td>14.2</td>
                                <td>0.00</td>
                                <td>14.2</td>
                                <td>0.72</td>
                                <td>0.00</td>
                                <td>15.00</td>
                            </tr><tr>
                                <td>01-06-2021</td>
                                <td>KL12</td>
                                <td>SDE4585</td>
                                <td></td>
                                <td>8573456902</td>
                                <td>6534</td>
                                <td>14.2</td>
                                <td>0.00</td>
                                <td>14.2</td>
                                <td>0.72</td>
                                <td>0.00</td>
                                <td>15.00</td>
                            </tr>
                            <tr>
                                <td>01-06-2021</td>
                                <td>KL12</td>
                                <td>SDE4585</td>
                                <td></td>
                                <td>8573456902</td>
                                <td>6534</td>
                                <td>14.2</td>
                                <td>0.00</td>
                                <td>14.2</td>
                                <td>0.72</td>
                                <td>0.00</td>
                                <td>15.00</td>
                            </tr>
                            <tr style="height: 10px;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>  <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>  <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>  <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="color: #FD4033;">0.00</td>
                                <td style="color: #FD4033;">0.00</td>
                                <td style="color: #FD4033;">0.00</td>
                                <td style="color: #FD4033;">0.00</td>
                                <td style="color: #FD4033;">0.00</td>
                                <td style="color: #FD4033;">0.00</td>
                            </tr>

                           

                        </tbody>
                    </table>
                </div>



        </div>


    </div>


</div>