<body>
    <header>
        <div class="header-section-max py-5 border-0">
            <div class="d-flex justify-content-center pt-5 pt-md-3 border-0">
                <!-- <h1>Welcome to</h1> -->
                <img class="logo-opacity" src="assets/images/whitelogo.svg" alt="logo_image">
            </div>
            <div class="rounder-boarder border-0"></div>
        </div>
    </header>
    <div class="body-container-max">
        <div class="body-container-section px-3 px-md-5">
            <div class="details-section">
                <h1 class="body-text-main">Order details</h1>

                <div class="order-details mt-4">
                    <div class="d-flex justify-content-between">
                        <p class="body-text-sub">Order No</p>
                        <p class="body-text-sub">#1122222</p>
                    </div>
                    <div class="details-line d-flex justify-content-between">
                        <p class="body-text-sub">Order date & time</p>
                        <p class="body-text-sub">12 Nov 2021 10:10am</p>
                    </div>
                </div>   
            </div>

            <div class="details-section pt-4 border-0">
                <h1 class="body-text-main">Sender details</h1>

                <div class="sender-details mt-3">
                    <div class="d-flex align-items-center">
                        <img src="assets/img/order-pro.png" alt="order_profile" class="order-image-size">
                        <h1 class="item-title-main  ml-md-3 ml-2" style="color: rgb(10, 10, 10);">Jerome Carlier</h1>
                    </div>
                </div>   
            </div>

            <div class="details-section pt-4">
                <h1 class="body-text-main"># items</h1>

                <div class="item-details mt-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start">
                            <img src="assets/img/item-image.png" alt="item_image" class="order-image-size order-image-shade mt-1 mt-md-0">
                            <div class="item-details-view mt-1 ml-md-3 m-2">
                                <p class="item-title-main">Product Name</p>
                                <p class="item-text-small">Size: Medium | Color : Red</p>
                                <p class="item-text-small1">1x AED 100</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="#"><img src="assets/img/Notes.png" alt="notes_icon"></a>
                            <div class="mt-2">
                                <p class="item-text-normal">AED <span>125.00</span></p>
                            </div>
                        </div>    
                    </div>
                </div>   
            </div>

            <div class="details-section pt-1">
                <div class="item-details mt-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start">
                            <img src="assets/img/item-image2.png" alt="item_image" class="order-image-size order-image-shade  mt-1 mt-md-0">
                            <div class="item-details-view mt-1 ml-2 ml-md-3">
                                <p class="item-title-main">Product Name</p>
                                <p class="item-text-small">Size: Medium | Color : Red</p>
                                <p class="item-text-small1">1x AED 100</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="#"><img src="assets/img/Notes.png" alt="notes_icon"></a>
                            <div class="mt-2">
                                <p class="item-text-normal">AED <span>125.00</span></p>
                            </div>
                        </div>     
                    </div>
                </div>   
            </div>


            <div class="details-section pt-1 border-0">
                <div class="item-details payment-details mt-3">
                    <div class="d-flex align-items-center justify-content-between ">
                        <p class="body-text-sub">Item total</p>
                        <p class="item-text-normal">AED 250.00</p>        
                    </div>
                    <div class="d-flex align-items-center justify-content-between details-line">
                        <p class="body-text-sub">Delivery fee</p>
                        <p class="item-text-normal">AED 25.00</p>        
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="body-text-sub">VAT (10%)</p>
                        <p class="item-text-normal">AED 25.00</p>        
                    </div>

                    <div class="d-flex align-items-center justify-content-between mt-3">
                        <p class="item-title-main1">Grand total</p>
                        <p class="item-text-normal">AED <span>300.00</span></p>
                    </div>
                </div>   
            </div>

            <div class="payment-btn-container mt-3 text-center">
                <button class="mb-4">Pay Online</button>
                
                <a href="#" class="cash-pay-link">Cash payment</a>
            </div>
  
        </div>

    </div>




</body>