<!-- Container-fluid starts-->
<div class="container-fluid innerpage_tab_top">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body tab2-card mastertab">


                
                <div class="row costmr_srch_ivntrylist">
                    <div class="col-md-8">
                        <input class="form-control"  type="search"
                        placeholder="Enter CustomerID, Mobile, Order ID, Consultation ID">
                        <img _ngcontent-serverapp-c18="" style="position:absolute;right:6%;top:19px;opacity: 0.5;" src="assets/images/dashboard/icon-search.svg" width="20px" height="20px">
                    </div>
                    <div class="col-md-4">
                            <div class="tabs" style="text-align: right;padding: 0;">
                                <input id="tab1" type="radio" name="tabs" checked>
                                <label for="tab1">Pharmacy</label>
                                <input id="tab2" type="radio" name="tabs" >
                                <label for="tab2">Health Care</label>

                                <div class="content">
                                                <div id="content1">
                                                
                                                </div>
                            
                                                <div id="content2">
                                                
                                                </div>
                                </div>
                            
                            </div>
                    </div>
                </div> 


                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <div class="card-body div-data"> 
                                        <div class="row" >
                                            <a for="validationCustom0" >Basic Info</a>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <br><br>
                    
            
                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info">Medimall Product ID</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                        type="text" required="" placeholder="#SD4854">
                                </div>
                                <div class="col-md-2 pr-0 offset-md-1">
                                    <label for="validationCustom0" class="basic_info">Brand</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <select class="form-control" id="validationCustom0" required="">
                                        <option>Himalaya</option>
                                        <option></option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>


                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info">HSN SKN No</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="45378">
                                </div>
                                <div class="col-md-2 pr-0 offset-md-1">
                                    <label for="validationCustom0" class="basic_info">Display Name</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <select class="form-control" id="validationCustom0" required="">
                                        <option>Himalaya Face Wash</option>
                                        <option></option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info"> Categories</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <select class="form-control" id="validationCustom0" required="">
                                        <option>Face Wash</option>
                                        <option></option>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-md-2 pr-0 offset-md-1">
                                    <label for="validationCustom0" class="basic_info">Sub Categories</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <select class="form-control" id="validationCustom0" required="">
                                        <option>Himalaya Face Wash</option>
                                        <option></option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>


            
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <div class="card-body div-data"> 
                                        <div class="row" >
                                            <a for="validationCustom0" >Product Description</a>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
            
            
                            <div class="ml-1  mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info">Product Description</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="Facewash">
                                </div>
                                <div class="col-md-2 pr-0 offset-md-1">
                                    <label for="validationCustom0" class="basic_info">Warning</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                        type="text" required="" placeholder="Facewash">
                                </div>
                            </div>


                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info">Direction of Use</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="Himalaya">
                                </div>
                                <div class="col-md-2 pr-0 offset-md-1">
                                    <label for="validationCustom0" class="basic_info">Side Effects</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="Facewash">
                                </div>
                            </div>
            
                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info">More Information</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="Glow and Shinee"> 
                                </div>
                                <div class="col-md-2 pr-0 offset-md-1">
                                    <label for="validationCustom0" class="basic_info">Content</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                        type="text" required="" placeholder="Glow and Shinee">
                                </div>
                            </div>

                            
                        
                           
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <div class="card-body div-data"> 
                                        <div class="row" >
                                            <a for="validationCustom0" >Substitution</a>
            
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="ml-1 mt-4 row">
                                <div class="col-md-1 pr-2">
                                    <label for="validationCustom0" class="basic_info">Tags</label>
                                </div>
                                <div class="col-md-3 pl-4">
                                    <input style="width: 95%;" class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="Himalaya Facewash"> 
                                    <!-- <i style="position:absolute;right:0;top:7px;font-size:23px;" class="fa fa-plus-circle"></i> -->
                                    <img src="assets/images/file-icons/icon-add-circle.svg" style="position:absolute;right:0px;top:7px;" width="20px" height="20px">
                                </div>
                                <div class="col-md-2 pr-0 offset-md-2">
                                    <label for="validationCustom0" class="basic_info">Related Products</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <input style="width: 95%;" class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="Himalaya Facewash">
                                    <img src="assets/images/file-icons/icon-add-circle.svg" style="position:absolute;right:0px;top:7px;" width="20px" height="20px">
                                </div>
                            </div>


                            <div class="ml-1 mt-4 row">
                                <div class="col-md-1 pr-2">
                                    <label for="validationCustom0" class="basic_info">Substitutions</label>
                                </div>
                                <div class="col-md-3 pl-4">
                                    <input style="width: 95%;" class="form-control" id="validationCustom0"
                                    type="text" required=" " placeholder="Himalaya Facewash">
                                    <img src="assets/images/file-icons/icon-add-circle.svg" style="position:absolute;right:0px;top:7px;" width="20px" height="20px">
                                </div>
                               
                            </div>

            
                         
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <div class="card-body div-data"> 
                                        <div class="row" >
                                            <a for="validationCustom0" >Product Image</a>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
            
            
                            <div class="ml-1 mt-4 row ">
                                <div class=" col-md-2">
                                    <span>#52825</span>
                                    <div class="span-data">
                                        <div class=" ">
                                            <i class="icon fa fa-upload"></i>
                                            <input type="file" name="myfile" />
                                        </div>
                                    </div>
                                   
                                </div>
                               
                                
            
                                <div class=" col-md-2 ">
                                    <span style="">#52825</span>
                                    <div class="span-data">
                                        <div class="">
                                            <i class="icon fa fa-upload"></i>
                                            <input type="file" name="myfile" />
                                        </div>
                                    </div>
                                   
                                </div>
            
            
            
                                <div class=" col-md-2 ">
                                    <span style="">#52825</span>
                                    <div class="span-data">
                                        <div class="">
                                            <i class="icon fa fa-upload"></i>
                                            <input type="file" name="myfile" />
                                        </div>
                                    </div>
                                   
                                </div>
            
            
            
                            </div>
            
            
            
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <div class="card-body div-data"> 
                                        <div class="row" >
                                            <a for="validationCustom0" >Pricing</a>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info">Cost</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="250">
                                </div>
                                <div class="col-md-2 pr-0 offset-md-1">
                                    <label for="validationCustom0" class="basic_info">MRP</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required=""  placeholder="250">
                                </div>
                            </div>

                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info">Tax Included Price</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required=""  placeholder="250">
                                </div>
                                <div class="col-md-2 pr-0 offset-md-1">
                                    <label for="validationCustom0" class="basic_info">Tax Excluded Price</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required=""  placeholder="250">
                                </div>
                            </div>


                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info">Tax Rate</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required=""  placeholder="250">
                                </div>
                                <div class="col-md-2 pr-0 offset-md-1">
                                    <label for="validationCustom0" class="basic_info">Maximum Discount</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required=""  placeholder="250">
                                </div>
                            </div>

            
                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info">Maximum Discount</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required=""  placeholder="250">
                                </div>
                            </div>
            
                      
            
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <div class="card-body div-data"> 
                                        <div class="row" >
                                            <a for="validationCustom0" >Inventory</a>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            

                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="basic_info">SKU</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="48574835">
                                </div>
                                <div class="col-md-2 pr-0 offset-md-1">
                                    <label for="validationCustom0" class="basic_info">Quality</label>
                                </div>
                                <div class=" col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="4878437">
                                </div>
                            </div>


                            <div class="ml-1 mt-4 row">
                                <div class="col-md-2 pr-0">
                                    <label for="validationCustom0" class="">Stock Alert Below</label>
                                </div>
                                <div class="col-md-3 pl-0">
                                    <input class="form-control" id="validationCustom0"
                                    type="text" required="" placeholder="250">
                                </div>
                            </div>



                <div class="mt-4 row ">
                    <div class="col-md-8">
                        <button style="width: 50%;margin-left: 50%;" type="button" class="btn btn-dark btn-dark-rounded">Save</button>
                    </div>

                </div>
                
              

            </div>
        </div>
    </div>
</div>


