<div class="container-fluid">
    <div class="col-sm-12">
        <div class="card-body tab2-card">
       

                <div class="mt-4 row">
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class=""  data-original-title="test"
                            data-target="#uploadVedioexampleModal" (click)="open(content)">    
                                            <h6>#65747</h6>    
                                            <img style="width: 90%;" src="assets/images/icons/icon-edit.png"><br>
                                          
                            </div>
                        </div>

                        <div class=" col-md-2">
                            <div class="">    
                                            <h6>#65747</h6>    
                                            <img src="assets/images/icons/icon-trophy.png" style="width: 90%;"><br>
                                          
                            </div>
                        </div>

                        <div class=" col-md-2">
                            <div class="">    
                                            <h6>#65747</h6>    
                                            <img src="assets/images/icons/icon-health.png" style="width: 90%;"><br>
                                          
                            </div>
                        </div>

                        <div class=" col-md-2">
                            <div class="" >    
                                            <h6>#65747</h6>    
                                            <img src="assets/images/icons/icon-gift.png" style="width: 90%;"><br>
                                          
                            </div>
                        </div>

                        <div class=" col-md-2">
                            <div class="">    
                                            <h6>#65747</h6>    
                                            <img src="assets/images/icons/icon-moblive.png" style="width: 90%;"><br>
                                          
                            </div>
                        </div>

                        <div class=" col-md-2">
                            <div class="">    
                                            <h6>#65747</h6>    
                                            <img src="assets/images/icons/icon-hos.png" style="width: 90%;"><br>
                                          
                            </div>
                        </div>

                   
                </div>



                <div class="mt-4 row">
                    <div class=" col-md-2">
                        <div class="">    
                                        <h6>#65747</h6>    
                                        <img src="assets/images/icons/icon-moblive.png" style="width: 90%;"><br>
                                      
                        </div>
                    </div>

                    <div class=" col-md-2">
                        <div class="">    
                                        <h6>#65747</h6>    
                                        <img src="assets/images/icons/icon-hos.png" style="width: 90%;"><br>
                                      
                        </div>
                    </div>

                    <div class=" col-md-2">
                        <div class="">    
                                        <h6>#65747</h6>    
                                        <img src="assets/images/icons/icon-editor.png" style="width: 90%;"><br>
                                      
                        </div>
                    </div>

                    <div class=" col-md-2">
                        <div class="">    
                                        <h6>#65747</h6>    
                                        <img src="assets/images/icons/icon-gift.png" style="width: 90%;"><br>
                                      
                        </div>
                    </div>

                    <div class=" col-md-2">
                        <div class="">    
                                        <h6>#65747</h6>    
                                        <img src="assets/images/icons/icon-health.png" style="width: 90%;"><br>
                                      
                        </div>
                    </div>

                    <div class=" col-md-2">
                        <div class="">    
                                        <h6>#65747</h6>    
                                        <img src="assets/images/icons/icon-trophy.png" style="width: 90%;"><br>
                                      
                        </div>
                    </div>

               
            </div>

            
            <div class="mt-4 row">
                <div class=" col-md-2">
                    <div class="">    
                                    <h6>#65747</h6>    
                                    <img src="assets/images/icons/icon-editor.png" style="width: 90%;"><br>
                                  
                    </div>
                </div>

                <div class=" col-md-2">
                    <div class="">    
                                    <h6>#65747</h6>    
                                    <img src="assets/images/icons/icon-trophy.png" style="width: 90%;"><br>
                                  
                    </div>
                </div>

                <div class=" col-md-2">
                    <div class=""  data-original-title="test"
                    data-target="#uploadVedioexampleModal" (click)="open(content)">    
                                    <h6>#65747</h6>    
                                    <img src="assets/images/icons/icon-health.png" style="width: 90%;"><br>
                                  
                    </div>
                </div>

                <div class=" col-md-2">
                    <div class="">    
                                    <h6>#65747</h6>    
                                    <img src="assets/images/icons/icon-gift.png" style="width: 90%;"><br>
                                  
                    </div>
                </div>

                <div class=" col-md-2">
                    <div class="">    
                                    <h6>#65747</h6>    
                                    <img src="assets/images/icons/icon-moblive.png" style="width: 90%;"><br>
                                  
                    </div>
                </div>

                <div class=" col-md-2">
                    <div class="" >    
                                    <h6>#65747</h6>    
                                    <img src="assets/images/icons/icon-hos.png" style="width: 90%;"><br>
                                  
                    </div>
                </div>

           
        </div>


               
        </div>
    </div>
</div>




<ng-template #content let-modal>
<div class="modal-header">
    <h5 style="color: white;opacity: 0.5;" class="modal-title f-w-600" id="uploadVedioexampleModal"></h5>
    <button style="color: white;opacity: 0.5;" type="button" class="close" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 ">
            <div class="image-data">
                <div class="upload-btn-wrapper ">
                    <i class="icon fa fa-upload"></i><br><small>Upload Icon</small>
                    <input type="file" name="myfile" />
                </div>
            </div>
        </div>
    </div>

    <div class="mt-1 row">
        <div class="col-md-6 ">
            <h6 style="color: #fff;opacity: 0.5;" for="validationCustom0" class="">#52345</h6>
        </div>
        <div class="col-md-6 ">
            <h6 style="color: #fff;opacity: 0.5;margin-left: 16%;" for="validationCustom0" class=""> Size : 350 x 750</h6>
        </div>
    </div>


</div>
<div class="modal-footer">
    <div class="row">
        <div class=" mb-0 col-md-4 "></div>
        <div class=" mb-0 col-md-4 ">
            <button style="width: 172px;" type="button" class="btn btn-dark btn-dark-rounded">Upload</button>
        </div>
        <div class=" mb-0 col-md-4 "></div>
    </div>
</div>
</ng-template>