<header class="ps-header ps-header--11 ps-header--12">
    <div class="ps-header__middle">
      <div class="container">
        <div class="ps-logo">
          <a href="index.html">
            <img src="../../../assets/img/png/camp/doc-logo.png" alt /><img
              class="sticky-logo"
              src="../../../assets/img/png/camp/doc-logo.png"
              alt
          /></a>
        </div>
        <div class="ps-header__right">
          <ul class="ps-header__icon">
            <li>
              <a class="blogy bg-yellowa ps-banner__shop" href="https://play.google.com/store/apps/details?id=com.medfolio.medimall"
                >Download the App</a
              >
            </li>
          </ul>

          <div class="ps-header__menu" style="text-align: center">
            <ul class="menu">
              <li class="has-mega-menu">
                <a href="under.html">Category</a>
              </li>
              <li class="has-mega-menu"><a href="blog.html">Blog</a></li>
              <li class="has-mega-menu">
                <a href="foundation.html">Medimall Foundation</a>
              </li>
              <li class="has-mega-menu">
                <a href="under.html">Fitness Arena </a>
              </li>
              <li class="has-mega-menu">
                <a href="under.html"
                  >More
                  <i
                    class="fa fa-angle-down"
                    style="font-weight: 200; opacity: 0.7"
                  ></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <header class="ps-header ps-header--1 ps-header--mobile">
    <div class="ps-header__middle">
      <div class="container">
        <div class="ps-header__left">
          <div class="ps-navigation--footer">
            <div class="ps-nav__item">
              <a href="under.html" id="open-menu"
                ><i class="icon-menu" style="color: white"></i
              ></a>
              <a href="under.html" id="close-menu"
                ><i class="icon-cross"></i
              ></a>
            </div>
          </div>
          <div class="ps-logo">
            <a href="index.html"> <img src="../../../assets/img/png/camp/doc-logo.png" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </header>