<body class="customer-page">  

    <!--====== PRELOADER PART START ======-->

    <!-- <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div> -->

    <!--====== PRELOADER PART ENDS ======-->

  
    
 

    <!--====== APPIE PAGE TITLE PART START ======-->
    <div class="desktop">
    <div class="appie-page-title-area-form1">
        <div class="search pt-4">
            <span><a  (click)="back()" class="ad"><i style="color: #fff;" class="fa fa-chevron-left"></i></a></span>
            <!-- <div class="box">
               <img src="assets/images/boxes.png">
            </div> -->
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-center">
                    <div class="appie-page-title-item1">
                        <div class="profile-pic">
                            <h6>Hi,</h6>
                            <h5 style="margin-bottom: 35px;">James Harper</h5>
                        </div>
                        <h6 class="welcome">Welcome back to</h6>
                        <nav aria-label="breadcrumb">
                            <img src="assets/images/whitelogo.svg" class="logo-opacity">
                         </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-down address">
          <div class="forms">
            <div class="form-head">
                <div class="first-div" style="width: 50%;float: left;overflow: hidden;">
                    <h5>Select Your Address</h5>
                </div>
                <div class="second-div" style="width: 50%;float: left;overflow: hidden;text-align: right;">
                    <button (click)="gotomap()" class="address-btn mb-10">+ Add new</button>
                </div>
            </div>
            <div class="clearfix"></div>
                <div class="address-sec">
                <div class="">
                    <div class="first-div">
                        <img src="assets/img/address-pin.png" style="width: 100%">
                    </div>
                    <div class="second-div">
                        <p>Home</p>
                        <h4>{{address}} {{houseNumber}}   {{city}},{{  area}}</h4>
                        <a style="padding-right: 16px;"(click)="gotomap()" >Edit</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="mt-50 text-center">
               
                <button type="button" class="checkout-btn" (click)="gotothanku()" >Checkout</button>
            </div>
          </div>
        </div>

    </div>
    </div>
    <!--====== APPIE PAGE TITLE PART ENDS ======-->

       

      

   


    
    

</body>


