<div class="ml-4 row">
    <div class="col-md-3">
        <div class="card-body card-data" *ngIf="disableBox('Fitness Club')">
            <a style="font-size: 15px;" for="validationCustom0"
                routerLink="/fitness-wellness/fitness-club">Fitness Club</a>
        </div>

    </div>

    <div class="col-md-3 ">
        <div class="card-body card-data" *ngIf="disableBox('Yoga')">
            <a style="font-size: 15px;" for="validationCustom0"
                routerLink="/fitness-wellness/yoga" class="">Yoga</a>
        </div>

    </div>

    <div class="col-md-3">
        <div class="card-body card-data" *ngIf="disableBox('Nutri Chart')">
            <a style="font-size: 15px;" for="validationCustom0"
                routerLink="/fitness-wellness/calorie" class="">Nutri Chart</a>
        </div>

    </div>


</div>