a,h6,h5,label,small{
  color: white;
  opacity: 0.7;
  font-weight: lighter;
  font-family: "Poppins";
}
i{
  cursor: pointer;
}
ul > li{
  color: white;
  opacity: 0.7;
  font-weight: lighter;
}
hr{
color:#c4c0c0;
font-weight: lighter;
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 12px;
  color: #dc3545;
  font-weight: 600;
}

  .icon-data{
  background-color: #00496E;
  align-content: center;
  color:white;
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.card-data{
  background-color: #144258;
  padding:10px;
  padding: 40px;
  align-content: center;
  padding-right: 20px;
  color:white;
  position: relative;
}
.card-body img{ max-width:100%;}
.icon-data{text-align:center}
.icon-data img{max-width: 100%;
  max-width: 100%;
  width: 120px;
    height: 160px;
    margin-bottom: 0px;
    background: #00496e;
    padding: 2px 5px;
    border-radius: 30px;
    object-fit: contain;
}
.span-data{
float: left;
background-color: #00476b;
color: white;
border-radius: 20px;
margin-left: 14px;
margin-bottom: 30px;
}
.span-data a {
float:left;
padding: 5px 25px;
text-decoration: none;
border-radius: 20px;
border: 1px solid #00476b;
}
.span-data a:hover {
background-color: #042b3f;
border: 1px solid #00476b;
text-decoration: none;
border-radius: 45px;
}
.span-data2{
background-color: #014466; 
//width: 170px; 
height: 140px; 
text-align: center; 
border-radius: 10px; 
margin-top: 15px;
}
.span-data2 input{
  position: absolute;
  top: 35px;
  left: 15px;
  width: 170px;
  height: 140px !important;
  opacity: 0;
  cursor: pointer;
}
.span-data2 a {
  padding-left:30%;
}
.span-data2 .icon{
color: white;
opacity: 0.7;
padding-top: 35px;
}
.small{
color: white;
opacity: 0.7;
font-weight: lighter;
}
.reminders-data{
  background-color: #00496e;
  padding: 10px;
  padding: 40px;
  align-content: center;
  margin-left: 42px;
  color: white;
  position: relative;
  border-radius: 20px;
  padding: 22px;
}



/*Button CSS*/

.btn{
color: #99b2bf ;
font-weight: 400;
}
.btn-dark-rounded{
  margin-left: 12px;
  background-color: #014466;
  border-radius: 10.25em;
}

.btn-modal-rounded{
  margin-left: 12px;
  background-color: #00283d;
  border: unset;
  border-radius: 10.25em;
  }

  
  
.form-control{
  background: #00496e;
  color: #fff;
  opacity: 0.7;
  }
 
.modal-body, .modal-header, .modal-footer{
  background-color: #0b4866;
  color:#fff;
  height: 80%;
  width: 100%;
  border-bottom: none !important;
  border-top: none !important;
  label{
    color: white;
    opacity: 0.7;
    font-weight: lighter;

  }
  .form-control{
    font-weight: lighter;
    border-radius: 8px;
    box-shadow: none !important;
    border: 1.5px solid white;
    opacity: 0.7;
  }
}
.modal-header{
 // background: #042B3F;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.modal-footer{
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}

.modal-body span{
    float: left;
    color: #fff;
    font-weight: lighter;
    margin-top: -30px;
    background: #00496e;
    padding: 3px 15px 3px 0px;
}
.modal-body hr{background: #fff;}
  label{
      color: whitesmoke;
  }
  .data{
      padding-top: 2%;
      background-color: #053449;
      align-content: center;
      justify-content: center;
  }
  
  




/* CSS Tabs*/
.tabs {
  max-width: 150%;

  padding: 0 20px;
}
.tabs input {
  display: none;
}
.tabs label {
  display: inline-block;
  padding: 17px 0;
  margin: 0 -11px;
  width: 33%;
  text-align: center;
  background: #053c58;
  border-radius: 6px;
  margin-right: 3px;
  box-shadow: 3px 3px 10px #231f205c;
  height: 57px;
}
.tabs label:hover {
  cursor: pointer;
}
.tabs input:checked + label {
  
  //border-width: 1px 1px 0 1px;
  background-color: #00476b;
}
.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2,
.tabs #tab3:checked ~ .content #content3,
.tabs #tab4:checked ~ .content #content4, 
.tabs #tab5:checked ~ .content #content5 {
  display: block;
}
.tabs .content > div {
  display: none;
  padding-top: 10px;
  /*height: 192px;*/
  overflow: none;
}



/*Image Upload CSS*/

.round-image-data{
  background-color: #09405d;
  padding:20px 10px;
  align-content: center;
  border-radius: 40px;
  //50px 45px 37px 39px;
  //padding-right: 120px;
  color:white;
 // opacity: 0.7;
  //position: relative;
 // margin-left: 3rem;
}


kendo-taglist span {
  text-align: left;
}
.image-data{
  background-color: #043954;
  padding:20px 10px;
  align-content: center;
  border-radius: 10px;
  //padding-right: 120px;
  color:white;
 
}
.image-data img{ 
width:100%;
margin-bottom:0px;
}
.image-data ul{float:left;width:100%;}
.image-data ul li{
float:left;
width:auto;
margin-bottom: 6px;
color: #9dc8de;
border: unset;
text-align: left;
}
.image-data .img_liwidth{
width:125px !important;
}
.image-data h6{
font-size: 20px;
font-weight: bold;
color: #fff;
text-align: center;
line-height: 30px;
margin-top: 20px;
}
.image-data h6 i{
font-size:18px;
font-weight:normal;
color: #9dc8de;
}
.icon-style{
  font-size: 100%;
}    


.upload-btn-wrapper {
overflow: hidden;
display: inline-block;
cursor: pointer;
margin: 0 auto;
display: block;
text-align: center;
height: 150px;
}

.upload-btn-wrapper :hover i {
-webkit-transition-delay: 0.05s;
transition-delay: 0.05s;
-webkit-transition-duration: 0.35s;
transition-duration: 0.35s;
}
img.image-icon.ng-star-inserted {
  width: auto;
  margin-bottom: 15px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.icon {
border: 0px solid gray;
color: white;
opacity: 0.7;
background-color: transparent;
padding: 3px 76px;
border-radius: 8px;
font-size: 50px;
font-weight: bold;
padding-top: 35px;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 25px;
  top: 10px;
  height: 168px !important;
  width: 200px;
  opacity: 0;
  cursor: pointer;
}

select option{
  color: #99b2bf ;
  opacity: 0.7;
}

select ::placeholder,select::selection{
  color: white ;
  opacity: 0.7;
}



/*Image Star CSS */

.img-star{
  width: 50%;
  height: 100%;
  margin-left: 20%;
}


.star-rating {
  direction: rtl;
  display: inline-block;
}

.star-rating input[type=radio] {
  display: none
}

.star-rating label {
  color: #bbb;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
  color: #f8ac11
}





body {
  /* just for this demo. */
  
  padding: 30px;
}

.btn {
  /* just for this demo. */
  
  margin-top: 5px;
}

.btn-arrow-right,
.btn-arrow-left {
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}

.btn-arrow-right {
  padding-left: 36px;
}

.btn-arrow-left {
  padding-right: 36px;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
  /* make two squares (before and after), looking similar to the button */
  
  content: "";
  position: absolute;
  top: 5px;
  /* move it down because of rounded corners */
  
  width: 22px;
  /* same as height */
  
  height: 22px;
  /* button_outer_height / sqrt(2) */
  
  background: inherit;
  /* use parent background */
  
  border: inherit;
  /* use parent border */
  
  border-left-color: transparent;
  /* hide left border */
  
  border-bottom-color: transparent;
  /* hide bottom border */
  
  border-radius: 0px 4px 0px 0px;
  /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
  
  -webkit-border-radius: 0px 4px 0px 0px;
  -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
  transform: rotate(45deg);
  /* rotate right arrow squares 45 deg to point right */
  
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
  transform: rotate(225deg);
  /* rotate left arrow squares 225 deg to point left */
  
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before {
  /* align the "before" square to the left */
  
  left: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
  /* align the "after" square to the right */
  
  right: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
  /* bring arrow pointers to front */
  
  z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
  /* hide arrow tails background */
  
  background-color: white;
}  

#multiselect{
 background-color: #00496e !important;
 
 padding: -5px 24px 0 0 !important;
}




 /*Checkbox*/


 input[type=checkbox] {
  margin-left: 4%;
  zoom: 1.4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container  input:checked ~ .checkmark {
background-color: #2196F3;
}

/* Show the checkmark when checked */
.checkbox-container  input:checked ~ .checkmark:after {
display: block;
}
img.fruitv {
width: 120px;
height: 120px;
}