<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                
                <div class="card-body">
                                <br><br><br><br><br><br><br><br>
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data"> 
                                            <a for="validationCustom0" routerLink="/orders/new-order"> Orders</a>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data"> 
                                            <a for="validationCustom0" routerLink="/inventory" class="">Inventory Management</a>
                                        </div>
                                       
                                    </div> 
                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data"> 
                                            <a for="validationCustom0" routerLink="#" class=""></a>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-body card-data"> 
                                            <a for="validationCustom0" routerLink="#" class=""></a>
                                        </div>
                                       
                                    </div> 

                                  


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



