<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="kendo_table">
        <div class="card-body master_Tab" *ngIf="disableTab('Tax')">
          <h6>Tax</h6>
          <div class="btn-popup pull-right">
            <button
              type="button"
              class="btn btn-dark btn-inverse-dark"
              data-toggle="modal"
              data-original-title="test"
              data-target="#exampleModal"
              (click)="open(content, '', '', '', 'add')"
              *ngIf="addFlag"
            >
              <img
                src="assets/images/file-icons/icon-add-circle.svg"
                width="15%"
                height="15%"
                style="margin-right: 10px"
              />
              Add New
            </button>
          </div>

          <div class="table-responsive">
            <!-- <ng2-smart-table  [settings]="settings" [source]="vendors"
                                    (edit)="editRow($event,content,'edit')"></ng2-smart-table> -->
            <kendo-grid
              [kendoGridBinding]="this._taxService.taxes"
              [filterable]="true"
              [sortable]="true"
              [pageSize]="10"
                    [pageable]="true"
                    [skip]="skip"
            >
              <kendo-grid-column field="no" title="Sl. No" width="30">
                <ng-template
                  kendoGridFilterCellTemplate
                  let-filter
                  let-column="column"
                >
                  <kendo-grid-string-filter-cell
                    placeholder="search"
                    [showOperators]="false"
                    [column]="column"
                    title="Parent Store"
                    [filter]="filter"
                  >
                  </kendo-grid-string-filter-cell>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="title" title="Title" width="30">
                <ng-template
                  kendoGridFilterCellTemplate
                  let-filter
                  let-column="column"
                >
                  <kendo-grid-string-filter-cell
                    placeholder="search"
                    [showOperators]="false"
                    [column]="column"
                    title="Parent Store"
                    [filter]="filter"
                  >
                  </kendo-grid-string-filter-cell>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column
                field="percentage"
                title="Percentage"
                width="30"
              >
                <ng-template
                  kendoGridFilterCellTemplate
                  let-filter
                  let-column="column"
                >
                  <kendo-grid-string-filter-cell
                    placeholder="search"
                    [showOperators]="false"
                    [column]="column"
                    title="Parent Store"
                    [filter]="filter"
                  >
                  </kendo-grid-string-filter-cell>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-command-column title="Action" width="40"  class="text-center">
                <ng-template
                  let-dataItem="dataItem"
                  kendoGridCellTemplate
                  let-isNew="isNew"
                >
                  <button
                    type="button"
                    class="btn btn-dark btn-dark-rounded"
                    data-toggle="modal"
                    data-original-title="test"
                    data-target="#exampleModal"
                    (click)="
                      open(
                        content,
                        dataItem._id,
                        dataItem.title,
                        dataItem.percentage,
                        'edit'
                      )
                    "
                    *ngIf="editFlag"
                  >
                    Edit
                  </button>

                  &nbsp;&nbsp;<button
                    type="button"
                    class="btn btn-dark btn-dark-rounded"
                    *ngIf="deleteFlag"
                    (click)="onDelete(dataItem._id)"
                  >
                    Delete
                  </button>
                  &nbsp;&nbsp;<input
                    type="checkbox"
                    (change)="
                      updateDisableStatus(
                        dataItem._id,
                        dataItem.title,
                        dataItem.percentage,
                        dataItem.isDisabled
                      )
                    "
                    class="toggle-switch oversize"
                    id="toggle3"
                    [checked]="!dataItem.isDisabled"
                  />
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<ng-template #content let-modal>
  <div *ngIf="update_Modal_Flag" class="modal-header">
    <h5
      style="color: white; opacity: 0.5"
      class="modal-title f-w-200"
      id="exampleModal"
    >
      Update
    </h5>
    <button
      style="color: white; opacity: 0.5; font-size: 31px"
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="add_Modal_Flag" class="modal-header">
    <h5
      style="color: white; opacity: 0.5"
      class="modal-title f-w-200"
      id="exampleModal"
    >
      Add
    </h5>
    <button
      style="color: white; opacity: 0.5; font-size: 31px"
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="taxForm" class="needs-validation">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="validationCustom01" class="mb-1">Title </label>
          <input
            class="form-control"
            id="validationCustom02"
            type="text"
            formControlName="title"
            oninput="replace(this)"
          />
          <span *ngIf="isValid('title')" class="help-block"
            >title cannot be empty</span
          >
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label for="validationCustom02" class="mb-1">Percentage</label>
          <input
            formControlName="percentage"
            class="form-control"
            id="validationCustom02"
            type="number"
            min="0"
            max="100"
          />
          <span *ngIf="isValid('percentage')" class="help-block"
            >Enter valid tax % between ( 0-100 )</span
          >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-dark-rounded"
      type="button"
      data-dismiss="modal"
      (click)="modal.dismiss('Cross click')"
    >
      Close
    </button>
    <button
      (click)="onAddOrUpdateTax()"
      type="button"
      class="btn btn-dark-rounded"
    >
      Save
    </button>
  </div>
</ng-template>
<script>
  const replace =function(ele) {
  console.log(ele.value);
  ele.value = ele.value.replace(/\s/g, '');
}
</script>
<script>
	let digitValidate = function(ele){
  console.log(ele.value);
  ele.value = ele.value.replace(/[^0-9]/g,'');
}
</script>	
