<body class="customer">  

    <!--====== PRELOADER PART START ======-->

    <!-- <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div> -->

    <!--====== PRELOADER PART ENDS ======-->

  
    
 

    <!--====== APPIE PAGE TITLE PART START ======-->
    <div class="desktop">
    <div class="appie-page-title-area-form1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-center">
                    <div class="appie-page-title-item1">
                        <h6 class="welcome">Welcome to</h6>
                        <nav aria-label="breadcrumb">
                            <img src="assets/images/whitelogo.svg" class="logo-opacity">
                         </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-down ">
          <div class="forms form-padding">
                <h5>we’d like to know you more</h5>
            <div class="">

                <form  class="row" [formGroup]="form" (ngSubmit)="submit()">
                    
                    <div class="col-md-12 py-0">
                        <input type="text"
                        formControlName="name"
                        id="name"
                         placeholder="First Name ">
                         <div *ngIf="f.name.touched && f.name.invalid"  class="error">
                            <div *ngIf="f.name.errors && f.name.errors.required">Name is required.</div>
                            <div *ngIf="f.name.errors && f.name.errors.minlength">Name should be 3 character.</div>
                        </div>
                    </div>
                   
                    <div class="col-md-12">
                        <input type="text"
                        formControlName="last_name"
                        id="last_name" placeholder="Last Name">
                    </div>
                    <div class="col-md-12">
                        <input formControlName="email"
                        id="email" 
                        type="text"   placeholder="Email-Address(Optional)">
                        <div *ngIf="f.email.touched && f.email.invalid" class="error" >
                            <div *ngIf="f.email.errors && f.email.errors.required">Email is required.</div>
                            <div *ngIf="f.email.errors && f.email.errors.email">Please, enter valid email address.</div>
                        </div>
                    </div>
                  
                   
                  
                   
                    <!-- <div class="col-md-12 text-center mt-1">
                                                <a  class="blue-button-cust2" (click)="gotoMap()" >Continue</a>

                        </div> -->

                    <div class="col-md-12 text-center mt-1">
                        <button type="submit" [disabled]="loading"  class="btn btn-primary btn-lg blueButton">Continue</button>

                    </div>
                </form>

            </div>


          </div>
        </div>
    </div>
    </div>
    <!--====== APPIE PAGE TITLE PART ENDS ======-->

       
   
    
    <!-- <script type="text/javascript">
        function testInput(event) {
   var value = String.fromCharCode(event.which);
   var pattern = new RegExp(/[a-zåäö ]/i);
   return pattern.test(value);
}
$('#my-field').bind('keypress', testInput);
$('#my-field1').bind('keypress', testInput);
    </script> -->

</body>


