<body class="customer-page">
  <div class="desktop">
    <div
      class="appie-page-title-area-form1"
      style="background-color: #ffffff; display: block"
    >
      <div class="search">
        <span
          ><a (click)="back()"><i class="fa fa-chevron-left"></i></a
        ></span>
        <form>
          <div class="input-search">
            <input
              type="text"
              class="form-control"
              (keydown.enter)="$event.preventDefault()"
              placeholder="Search Nearest Location"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="off"
              type="text"
              #search
            />
          </div>
        </form>
      </div>
      <!-- <div class="map" #mapElement></div> -->
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>

    <div class="form-down">
      <div class="locate locatecustom">
        <span (click)="setCurrentLocation()"
          ><img src="assets/images/logo-loc.svg" />Locate Me</span
        >
      </div>
      <div class="forms form-padding maps">
        <h3>Address details</h3>
        <p>Enter or pinpoint your address on the map</p>
        <h6>
          {{ this.area }},{{ this.street }} address or map details shown here
        </h6>
        <button
          type="button"
          class="btn btn-primary blue-thank mb-1"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="openModal()"
          style="width: 100%"
        >
          Continue
        </button>
      </div>
    </div>
  </div>

  <!--====== APPIE PAGE TITLE PART ENDS ======-->

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    [ngStyle]="{ display: display }"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog maping" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
          <i class="fal fa-map-marker-alt"></i>
          <div class="location-content">
            <h4>Oops!</h4>
            <p>
              Please enable <br />geolocation service <br />from phone settings
            </p>
            <!-- <a class="blue-thank mb-1"  data-bs-dismiss="modal" (click)="gotoConfirm()">Okay</a> -->
            <button
              type="button"
              class="btn btn-primary blue-thank mb-1"
              data-dismiss="modal"
              (click)="gotoConfirm()"
              data-bs-dismiss="modal"
              style="width: 100%"
            >
              Okay
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
