<style>
    .nav-tabs>.nav-link{
      padding: 15px 74px !important;
    }
    </style>
    <!-- Container-fluid starts-->
    <div class="container-fluid statemnt_prmo_man">
        <div class="row">
            <div class="col-sm-12">
                <div class=" tab2-card">
                    <div class="tab2-card " style="align-content: center;">
                        <div class="mt-4 row">
                            <div class="col-md-4">
                                
                            </div>
                            <!-- <div class="col-md-8 col-sm-8">
                                <button style="float:right;margin: 16px 0 0 0;" type="button" class="btn btn-dark btn-dark-rounded">Download Promo Code Statement</button>
                            </div> -->
                        </div>
                        <button class="btnpramo" style="float:right;margin: 12px 0 0 0;" type="button" class="btn btn-dark btn-dark-rounded">Download Promo Code Statement</button>
                        <h5 style="margin:51px 0 0 0;color: white;opacity: 0.5;"> Promotion Statement</h5> 
                        <ngb-tabset class="tab-coupon"  #t="ngbTabset" >
                           
                            <!-- <ng-template  ngbTabTitle>Total Promo<span class="badge badge-pill  pull-right" style="background-color: #013f5d;color: white;">40</span>     -->
                            <ngb-tab title="Total Promo" style="width:100%">
                                <ng-template ngbTabTitle><span class="badge badge-pill  pull-right" style="background-color: #013f5d;color: white;">40</span></ng-template>
                               
                                <ng-template ngbTabContent>                                                                                                                                        
                                        <div class="satemt_promo_main">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                            <a for="validationCustom0" data-toggle="modal" data-original-title="test"
                                                            data-target="#exampleModal" (click)="open(content)" style="cursor: pointer;">Hello 20</a>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Mydo 40</a>
                                                    </div>                                          
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >My for</a>
                                                    </div>
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Myghid</a>
                                                    </div>                                           
                                                </div>
                                                
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0">Hellsad</a>
                                                    </div>                                          
                                                </div> 
                                                            
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                      
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                      
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                       
                                                </div>
                                                            
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>
                                                </div>
                                                            
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>
                                                </div>
                                                            
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0">Hello</a>
                                                    </div>                                                       
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>
                                                </div>
                                                            
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                       
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                        
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                            <a for="validationCustom0">Hello</a>
                                                    </div>
                                                </div>
                                                            
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                      
                                                </div> 
    
                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                      
                                                </div> 

                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                      
                                                </div> 


                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                      
                                                </div> 

                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                      
                                                </div> 


                                                <div class="col-lg-2 col-md-3">
                                                    <div class="card_data_stmt_promo"> 
                                                        <a for="validationCustom0" >Hello</a>
                                                    </div>                                                      
                                                </div> 
    
                                            </div>
                                                    
                                        </div> 
                                    </ng-template>
                            </ngb-tab>
                            
                            
    
                            <ngb-tab>
                                <ng-template  ngbTabTitle>Issued Promo<span class="badge badge-pill  pull-right" style="background-color: #013f5d;color: white;">30</span>
                                    <ng-template ngbTabContent>                                                                                                                                        
                                  
                                        </ng-template>
                                    </ng-template >
                            </ngb-tab>
    
    
                            <ngb-tab>
                                <ng-template  ngbTabTitle>Customer Used<span class="badge badge-pill  pull-right" style="background-color: #013f5d;color: white;">20</span>
                                    <ng-template ngbTabContent>                                                                                                                                        
                                        
                                        </ng-template>
                                    </ng-template >
                            </ngb-tab>
                         
    
    
                            
                            <ngb-tab>
                                <ng-template  ngbTabTitle>Patients Saved Amount<span class="badge badge-pill  pull-right" style="background-color: #013f5d;color: white;"><i class="fa fa-inr"></i> 19995</span>
                                    <ng-template ngbTabContent>                                                                                                                                        
                                    
                                        </ng-template>
                                    </ng-template >
                            </ngb-tab>
    
    
                            
    
    
                        </ngb-tabset>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    
    
    
    <ng-template #content let-modal>
      
        <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <button style="color: white;opacity: 0.5;" type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-md-3 right_radius_custom_data_">
                        <label for="validationCustom02" class="mb-1">Hello 20</label>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-8 data">
                        <span style="color:#99b2bf ; font-size: 15px;">Patient Saved   <label> <i class="fa fa-inr"></i> 1525</label>   Total Used     <label>  156</label> </span>
                    </div>
                </div>
    
                <div class="mt-3 row">
                    <div class="table-sorter-wrapper  table-responsive">
                        <table id="sortable-table-2" class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                            <th class="sortStyle">Customer ID</th>
                            <th class="sortStyle">Date & Time</th>
                            <th class="sortStyle">Department</th>
                            <th class="sortStyle">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="promoclr">#8378347uhcsd</td>
                                <td  class="promoclr">01 Dec 2020 10:25 am</td>
                                <td  class="promoclr">General pysio</td>
                                <td><label><i class="fa fa-inr"></i> 199</label></td>
                            </tr>
    
                            <tr>
                                <td  class="promoclr">#8378347uhcsd</td>
                                <td  class="promoclr">01 Dec 2020 10:25 am</td>
                                <td  class="promoclr">General pysio</td>
                                <td><label><i class="fa fa-inr"></i> 199</label></td>
                            </tr>
    
                            <tr>
                                <td  class="promoclr">#8378347uhcsd</td>
                                <td class="promoclr">01 Dec 2020 10:25 am</td>
                                <td  class="promoclr">General pysio</td>
                                <td><label><i class="fa fa-inr"></i> 199</label></td>
                            </tr>
    
                            <tr>
                                <td  class="promoclr">#8378347uhcsd</td>
                                <td class="promoclr">01 Dec 2020 10:25 am</td>
                                <td class="promoclr">General pysio</td>
                                <td><label><i class="fa fa-inr"></i> 199</label></td>
                            </tr>
    
                            <tr>
                                <td class="promoclr">#8378347uhcsd</td>
                                <td class="promoclr">01 Dec 2020 10:25 am</td>
                                <td class="promoclr">General pysio</td>
                                <td><label><i class="fa fa-inr"></i> 199</label></td>
                            </tr>
    
                            
                        </tbody>
                        </table>
                    </div>
                </div>
    
    
        </div>
        <!-- <div class="modal-footer">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class=" btn-inverse-dark form-control">Add</button>
                </div>
                <div class="col-md-6">
                    <button class=" btn-inverse-dark form-control" type="button" data-dismiss="modal"
                        (click)="modal.dismiss('Cross click')">Close</button>
                </div>
            </div>
        </div> -->
    </ng-template>