<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                <div class="card-body">
                                <h5>User Interface Management</h5>
                                <div class="row">
                                    <div class="col-md-3 mt-4">
                                        <div class="card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/user-management/poster-management"> Poster Management</a>

                                            </div>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/user-management/icon-management" class="">Icon Management</a>
        
                                            </div>
                                        </div>
                                       
                                    </div> 
                                    <div class="col-md-3 mt-4">
                                        <div class="card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0"  routerLink="/user-management/privacy-policy" >Privacy & Policy</a>
        
                                            </div>
                                        </div>
                                       
                                    </div> 

                                    <div class="col-md-3 mt-4">
                                        <div class="card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/user-management/terms-conditions" class="">Terms & Conditions</a>
        
                                            </div>
                                        </div>
                                       
                                    </div> 
                                </div>


                                <div class="row mt-4">
                                    <div class="col-md-3 ">
                                        <div class="card-data"> 
                                            <div class="row" >
                                                <a for="validationCustom0" routerLink="/user-management/disclaimer" class="">Disclaimer</a>

                                            </div>
                                        </div>
                                       
                                    </div> 
                                </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



