a{
  color: white;
  font-size: 16px;
  text-decoration: none;
}

h5,h6,label{
  color: white;
  opacity: 0.5;
  font-weight: lighter;
  font-family: "Poppins";
}


.card-data{
  background-color: #00496e;
  padding:10px;
  padding: 40px;
  align-content: center;
  border-radius: 10px;
  padding-right: 20px;
  color:white;
  position: relative;
}

.span-data{
  justify-content: space-between;
  background-color: #0a3347;
  color:white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 75px;
  font-weight: 5em;
  float: right;
}




/*Button CSS*/

.btn{
  
  font-weight: 400;
}
.btn-inverse-dark {
    background-color: rgba(79, 74, 96, 0.2);
    background-image: none;
    border-color: rgba(79, 74, 96, 0);
  }
  
  .btn-inverse-dark:not(.btn-inverse-light) {
    color: #4f4a60;
  }
  
  .btn-inverse-dark:hover {
    color: #ffffff;
    background-color: #4f4a60;
    border-color: #4f4a60;
  }
  
  .btn-inverse-dark.focus, .btn-inverse-dark:focus {
    box-shadow: 0 0 0 3px rgba(79, 74, 96, 0.5);
  }
  
  .btn-inverse-dark.disabled, .btn-inverse-dark:disabled {
    color: #4f4a60;
    background-color: transparent;
  }
  
  .btn-inverse-dark.active, .btn-inverse-dark:active,
  .show > .btn-inverse-dark.dropdown-toggle {
    color: #ffffff;
    background-color: #4f4a60;
    border-color: #4f4a60;
  }
  
  .btn-dark, .btn-dark:hover {
    box-shadow: 0 2px 2px 0 rgba(79, 74, 96, 0.14), 0 3px 1px -2px rgba(79, 74, 96, 0.2), 0 1px 5px 0 rgba(79, 74, 96, 0.12);
      justify-content: right;
  }
  
  
.form-control{
    background: #014466;
  }
    .form-group {
      margin-bottom: 1.5rem;
    }





