::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(231, 205, 205, 0.658);
    font-weight: 100;
    font-size: 14px;
    opacity: 1; /* Firefox */
  }
  
  a{
    color: white;
    text-decoration: underline;
  }
  
  .card-data{
    background-color: #1c5470;
  }
  h5,h6,label{
  color: white;
  opacity: 0.5;
  }
  .costmr_srch_ivntrylist .form-control{
    font-size: 16px;
    border-radius: 30px;
    height: 56px;
    background: #014466 !important;
    border: 7px solid #046190 !important;
  }
  
  .card-data{
    background-color: #144258;
    padding: 40px;
    align-content: center;
    border-radius: 10px;
    padding-right: 20px;
    color:white;
    position: relative;
    padding-right: 20px;
  }
  
  .span-data{
    background-color: #033349;
    padding:30px;
    align-content: center;
    border-radius: 3px;
    padding-right: 120px;
    color:white;
    position: relative;
    margin-left: 3rem;
  }
  .span-data a {
    padding-left:30%;
  }
  
  
  
  
  
  
  /*Button CSS*/
  .btn{
    color: #99b2bf ;
    font-weight: 400;
  }
  
  .btn-dark-rounded{
    margin-left: 12px;
    background-color: #00283d;
    border: unset;
    border-radius: 10.25em;
    }
  
    
    .form-control{
        background: #052a3d;
      }
        .form-group {
          margin-bottom: 1.5rem;
        }
  label{
      color: gray;
  }
  .pull-right{
    float: right;
  }
  
  .icon-style{
    font-size: 100%;
  }    
  
  
  .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  }
  
  .icon {
  border: 0px solid gray;
  color: gray;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 50px;
  font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  }
  
  
  // ----------------------------------
  
  td.align {
    text-align: left !important;
    padding: 29px 0 0 20px !important;
  } 
  
  
  
  
        /*Toggle Switch*/
        .toggle-switch {
          --clr-checked: #df2;
          --clr-unchecked: #AAAAAA;
          --clr-focus: var(--clr-checked);
          --clr-background-checked: #FFFFFF;
          --clr-background-unchecked: #FFFFFF;
          --transition-length: 200ms;
          --transition: cubic-bezier(0.76, 0.08, 0.54, 1.4);
          --size-height: 1.5em;
          --size-width: 3em;
          --size-gap: 0.2em;
          --size-focus: var(--size-gap);
          --size-shadow: var(--size-gap);
          appearance: none;
          outline: none;
          position: relative;
          cursor: pointer;
          width: var(--size-width);
          height: var(--size-height);
          border-radius: calc(var(--size-height) / 2);
          background: var(--clr-background-unchecked);
          //box-shadow: inset 0 0 calc(var(--size-height) / 4) var(--clr-shadow);
        
        
          &::after {
            content: '';
            position: absolute;
            top: var(--size-gap);
            left: var(--size-gap);
            bottom: var(--size-gap);
            width: calc(var(--size-height) - (var(--size-gap) * 2));
            border-radius: 50%;
            background: var(--clr-unchecked);
            box-shadow:
              inset 0 0 calc(var(--size-height) / 4) var(--clr-highlight), 
              0 0 var(--size-shadow) 0 var(--clr-shadow);
            transition: 
              left var(--transition-length) var(--transition),
              //background var(--transition-length) var(--transition);
          }
        
          &:checked::after {
            left: calc(var(--size-width) - var(--size-height) + var(--size-gap));
            background: var(--clr-checked);
          }
        
        }
        
        .toggle-switch.tight {
          --clr-checked: #3df;
          --clr-unchecked: #AAAAAA;
          --clr-background-checked: #FFFFFF;
          --clr-background-hover: #27afcc;
          --transition-length: 150ms;
          --size-width: 2.65em;
          --size-height: 1.8em;
          --size-gap: 0.1em;
          --size-focus: 0.15em;
          //--size-shadow: 0.2em;
        }
        
        .toggle-switch.oversize {
          --clr-checked: #00B4FF;
          --clr-unchecked: #AAAAAA;
          --clr-focus: #eba;
          --clr-shadow: #FFFFFF;
          --clr-highlight: #FFFFFF;
          --size-width: 2.5em;
          --size-height: 1em;
          --size-gap: -0.2em;
          --size-focus: 0.22em;
          //--size-shadow: 0.2em
        }
  