  
  .form-control{
    background: #0978af;
  }

  .usr{
    object-fit: contain;
    height: 40px;
  }
  .name-ue{
    font-size: 12px;
  }
    .form-group {
      margin-bottom: 1.5rem;
    }

    .modal-body, .modal-header, .modal-footer{
      
      background-color: #0b4866;
  }
  .nav-left  li {
    padding: 15px;
  }

  h6, i, small{
    color: #FFFFFF;
}

img.iconimages {
  border-radius: 50%;
  margin: 0px 0px 0px 13px;
  object-fit: contain;
}

.header-menus > li > a.active{
    color: white;
    background: #052638;
    display: block;
    width: 38px;
    height: 38px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
}

// .header-menus > li > a{
//   display: block;
//   width: 38px;
//   height: 38px;
//   text-align: center;
//   padding-top: 10px;
//   border-radius: 20px;
// }



//Master Page CSS Styles


.mastertab .nav-link{
  display: inline-block;
  padding: 15px 85px !important;
  border-radius: 7px !important;    
  box-shadow: -5px 2px 5px rgb(0 0 0 / 50%) !important;
}
