<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body tab2-card">

                <ngb-tabset class="tab-coupon side_innerpage_tab">
                    <ngb-tab title="Inbox"><i class="fa fa-inbox"></i>
                        <ng-template ngbTabContent>                                                                                                                                       

                                <div class="row">
                                        <div class="input-group ml-3 mb-3 col-md-9">
                                            <input type="text" class="form-control" placeholder="Search here">
                                            <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-12">
                                            <div class=" col-md-9">
                                                <div class="card-header row">
                                                                <div class="col-md-1">
                                                                    <h6><input type="checkbox" checked></h6>   
                                                                </div>  
                                                                <div class="col-md-2">
                                                                    <img src="assets/images/user.png" width="50px" height="50px">   
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <h6>Aswin Vinod</h6>  <br>
                                                                    <h6><small>consectetuer  dipisci ummy</small></h6>
                                                                </div> 
                                                                <div class="col-md-2"></div>  
                                                                <div class="col-md-3">
                                                                    <h6><span style="float:right;"><i class="fa fa-link">Edit</i>10 : 30 am</span></h6>   
                                                                </div>  
                                                                <div class="col-md-1">
                                                                    <i class="fa fa-ellipsis-v" ></i> 
                                                                </div>   
                                                            
                                                </div>
                                            </div>
                                    </div>
                                </div>


                                <div class="mb-3 row">
                                    <div class="col-md-12">
                                            <div class=" col-md-9">
                                                <div class="card-header row">
                                                                <div class="col-md-1">
                                                                    <h6><input type="checkbox"></h6>   
                                                                </div>  
                                                                <div class="col-md-2">
                                                                    <img src="assets/images/user.png" width="50px" height="50px">   
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <h6>Aswin Vinod</h6>  <br>
                                                                    <h6><small>consectetuer  dipisci ummy</small></h6>
                                                                </div> 
                                                                <div class="col-md-2"></div>  
                                                                <div class="col-md-3">
                                                                    <h6><span style="float:right;"><i class="fa fa-link">Edit</i>10 : 30 am</span></h6>   
                                                                </div>  
                                                                <div class="col-md-1">
                                                                    <i class="fa fa-ellipsis-v" ></i> 
                                                                </div>    
                                                            
                                                </div>
                                            </div>
                                    </div>
                                </div>


                                <div class=" mb-5 row">
                                    <div class="col-md-12">
                                            <div class=" col-md-9">
                                                <div class="card-header row">
                                                                <div class="col-md-1">
                                                                    <h6><input type="checkbox"></h6>   
                                                                </div>  
                                                                <div class="col-md-2">
                                                                    <img src="assets/images/user.png" width="50px" height="50px">   
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <h6>Aswin Vinod</h6>  <br>
                                                                    <h6><small>consectetuer  dipisci ummy</small></h6>
                                                                </div> 
                                                                <div class="col-md-2"></div>  
                                                                <div class="col-md-3">
                                                                    <h6><span style="float:right;"><i class="fa fa-link">Edit</i>10 : 30 am</span></h6>   
                                                                </div>  
                                                                <div class="col-md-1">
                                                                    <i class="fa fa-ellipsis-v" ></i> 
                                                                </div>  
                                                            
                                                </div>
                                            </div>
                                    </div>
                                </div>

                                
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle><i class="fa fa-send-o"></i>Send
                            <ng-template ngbTabContent>
                                   
                            </ng-template>
                        </ng-template>
                    </ngb-tab>
                   

                    <ngb-tab>
                        <ng-template ngbTabTitle><i class="fa fa-envelope-open-o"></i>Draft
                            <ng-template ngbTabContent>
                              
                            </ng-template>
                        </ng-template>
                    </ngb-tab>


                    <ngb-tab>
                        <ng-template ngbTabTitle><i class="fa fa-star-o"></i>Starred
                            <ng-template ngbTabContent>
                             

                            </ng-template>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle><i class="fa fa-exclamation-circle"></i>Spam
                            <ng-template ngbTabContent>
                                      
                            </ng-template>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle><i class="fa fa-trash-o"></i>Trash
                            <ng-template ngbTabContent>
                                   
                            </ng-template>
                        </ng-template>
                    </ngb-tab>
                    




                </ngb-tabset>


            </div>
        </div>
    </div>
</div>




