<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Top Level Management</h5>
        </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                        <button type="button" class="btn btn-dark btn-fw" style="float:right;"><i class="fa fa-plus-square-o"></i>Add New Employee</button>
                </div>
                <div class="col-md-4">
                        <button type="button" class="btn btn-dark btn-fw" style="float:right;" data-toggle="modal" data-original-title="test"
                        data-target="#exampleModal"  (click)="open(content)">Permissions</button>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="card-body card-data"> 
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="">Shyam Prakash</h6>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-5">
                                <h6>Employee ID:D73248</h6>
                            </div>
                        </div> 
                        <div class="row " >
                                    <div class="col-md-3">
                                        <img class="span-data" src=""  alt="image"/>
                                    </div>
                                    <div class="col-md-9">
                                    <table class="table table-borderless">  
                                        <tr class="sortStyle">
                                            <th>Designation</th> 
                                            <td class="">Designer</td>
                                        </tr>
                                        <tr class="sortStyle">
                                                <th>Department</th>
                                            <td>Marketing</td>
                                        </tr>
                                        <tr>
                                                <th>Contact No</th>
                                                <td>9876403212</td>
                                        </tr>
                                    </table>
                                    </div>
                        </div>
                        <p>ShyamPrakash@gmail.com</p>
                    </div>
                </div> 


                <div class="col-md-4">
                    <div class="card-body card-data"> 
                        <div class="row " >
                            <div class="col-md-4">
                                <h6 class="">Shyam Prakash</h6>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-5 ">
                                <h6>Employee ID:D73248</h6>
                            </div>
                        </div> 
                        <div class="row " >
                                    <div class="col-md-3">
                                        <img class="span-data" src=""  alt="image"/>
                                    </div>
                                    <div class="col-md-9">
                                        <table class="table table-borderless">  
                                            <tr class="sortStyle">
                                                <th>Designation</th> 
                                                <td class="">Designer</td>
                                            </tr>
                                            <tr class="sortStyle">
                                                    <th>Department</th>
                                                <td>Marketing</td>
                                            </tr>
                                            <tr>
                                                    <th>Contact No</th>
                                                    <td>9876403212</td>
                                            </tr>
                                        </table>
                                    </div>
                        </div>
                        <p>ShyamPrakash@gmail.com</p>
                    </div>
                </div> 


                <div class="col-md-4">
                    <div class="card-body card-data"> 
                        <div class="row " >
                            <div class="col-md-4">
                                <h6 class="">Shyam Prakash</h6>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-5 ">
                                <h6>Employee ID:D73248</h6>
                            </div>
                        </div> 
                        <div class="row " >
                                    <div class="col-md-3">
                                        <img class="span-data" src=""  alt="image"/>
                                    </div>
                                    <div class="col-md-9">
                                    <table class="table table-borderless">  
                                        <tr class="sortStyle">
                                            <th>Designation</th> 
                                            <td class="">Designer</td>
                                        </tr>
                                        <tr class="sortStyle">
                                                <th>Department</th>
                                            <td>Marketing</td>
                                        </tr>
                                        <tr>
                                                <th>Contact No</th>
                                                <td>9876403212</td>
                                        </tr>
                                    </table>
                                    </div>
                        </div>
                        <p>ShyamPrakash@gmail.com</p>
                    </div>
                </div> 


            </div>




            <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="card-body card-data"> 
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6 class="">Shyam Prakash</h6>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-5 ">
                                        <h6>Employee ID:D73248</h6>
                                    </div>
                                </div> 
                                <div class="row " >
                                            <div class="col-md-3">
                                                <img class="span-data" src=""  alt="image"/>
                                            </div>
                                            <div class="col-md-9">
                                            <table class="table table-borderless">  
                                                <tr class="sortStyle">
                                                    <th>Designation</th> 
                                                    <td class="">Designer</td>
                                                </tr>
                                                <tr class="sortStyle">
                                                        <th>Department</th>
                                                    <td>Marketing</td>
                                                </tr>
                                                <tr>
                                                        <th>Contact No</th>
                                                        <td>9876403212</td>
                                                </tr>
                                            </table>
                                            </div>
                                </div>
                                <p>ShyamPrakash@gmail.com</p>
                            </div>
                        </div> 


                        <div class="col-md-4">
                            <div class="card-body card-data"> 
                                <div class="row " >
                                    <div class="col-md-4">
                                        <h6 class="">Shyam Prakash</h6>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-5 ">
                                        <h6>Employee ID:D73248</h6>
                                    </div>
                                </div> 
                                <div class="row " >
                                            <div class="col-md-3">
                                                <img class="span-data" src=""  alt="image"/>
                                            </div>
                                            <div class="col-md-9">
                                            <table class="table table-borderless">  
                                                <tr class="sortStyle">
                                                    <th>Designation</th> 
                                                    <td class="">Designer</td>
                                                </tr>
                                                <tr class="sortStyle">
                                                        <th>Department</th>
                                                    <td>Marketing</td>
                                                </tr>
                                                <tr>
                                                        <th>Contact No</th>
                                                        <td>9876403212</td>
                                                </tr>
                                            </table>
                                            </div>
                                </div>
                                <p>ShyamPrakash@gmail.com</p>
                            </div>
                        </div> 


                        <div class="col-md-4">
                            <div class="card-body card-data"> 
                                <div class="row " >
                                    <div class="col-md-4">
                                        <h6 class="">Shyam Prakash</h6>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-5 ">
                                        <h6>Employee ID:D73248</h6>
                                    </div>
                                </div> 
                                <div class="row " >
                                            <div class="col-md-3">
                                                <img class="span-data" src=""  alt="image"/>
                                            </div>
                                            <div class="col-md-9">
                                            <table class="table table-borderless">  
                                                <tr class="sortStyle">
                                                    <th>Designation</th> 
                                                    <td class="">Designer</td>
                                                </tr>
                                                <tr class="sortStyle">
                                                        <th>Department</th>
                                                    <td>Marketing</td>
                                                </tr>
                                                <tr>
                                                        <th>Contact No</th>
                                                        <td>9876403212</td>
                                                </tr>
                                            </table>
                                            </div>
                                </div>
                                <p>ShyamPrakash@gmail.com</p>
                            </div>
                        </div> 


            </div>
            




            




<!--   <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link active show" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true" data-original-title="" title="">General</a></li>
                <li class="nav-item"><a class="nav-link" id="restriction-tabs" data-toggle="tab" href="#seo" role="tab" aria-controls="seo" aria-selected="false" data-original-title="" title="">SEO</a></li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">
                    <form class="needs-validation" novalidate="">
                        <h4>General</h4>
                        <div class="form-group row">
                            <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span> Name</label>
                            <input class="form-control col-xl-8 col-md-7" id="validationCustom0" type="text" required="">
                        </div>
                        <div class="form-group row editor-label">
                            <label class="col-xl-3 col-md-4"><span>*</span> Description</label>
                            <div class="col-xl-8 col-md-7 editor-space">
                                <textarea id="editor1" name="editor1" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-md-4">Status</label>
                            <div class="checkbox checkbox-primary col-xl-8 col-md-7">
                                <input id="checkbox-primary-2" type="checkbox" data-original-title="" title="">
                                <label for="checkbox-primary-2">Enable the Page</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="seo-tab">
                    <form class="needs-validation" novalidate="">
                        <h4>SEO</h4>
                        <div class="form-group row">
                            <label for="validationCustom2" class="col-xl-3 col-md-4">Meta Title</label>
                            <input class="form-control col-xl-8 col-md-7" id="validationCustom2" type="text" required="" >
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom3" class="col-xl-3 col-md-4">Meta Keywords</label>
                            <input class="form-control col-xl-8 col-md-7" id="validationCustom3" type="text" required="" >
                        </div>
                        <div class="form-group row editor-label">
                            <label class="col-xl-3 col-md-4">Meta Description</label>
                            <textarea rows="4" class="col-xl-8 col-md-7"></textarea>
                        </div>
                    </form>
                </div>
            </div> -->
            <div class="pull-right">
                <button type="button" class="btn btn-dark">Save</button>
            </div>
    </div>
</div>
<!-- Container-fluid Ends-->





<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600 " id="exampleModalLabel">Add Privilege</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" >
        <form class="needs-validation">
            <div class="form">
                <div class="form-group">
                    <label for="validationCustom01" class="mb-1">Group Name :</label>
                    <input class="form-control" id="validationCustom01" type="text" PlaceHolder="Top Level management">
                </div>
                <div class="form-group mb-0">
                    <label for="validationCustom02" class="mb-1">Access Permission :</label>
                    <select class="form-control" multiple="multiple">
                        <option>Manage Admin</option>
                        <option>Manage HR</option>
                        <option>Manage Accounts</option>
                        <option>Manage Product</option>
                        <option>Manage Order</option>
                        <option>Manage Inventory</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-dark">EDIT</button>
        <button class="btn btn-dark" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>
